<app-nav></app-nav>
<app-popup class="pop" *ngIf="showPopUp && clickedTask" [task]="clickedTask" (backClicked)="closePopup();" [@popFromSide]="showPopUp ? 'popFromSide' : ''"></app-popup>
<div class="container-xxl">
  <div class="all">
    <div class="header">
      <h5>📬 New Issues</h5>
      <div class="page-size-container">
        <span class="align-middle">Show</span>
        <select class="page_size" (change)="LoadNewTasks($event)">
          <option value="5" selected>5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
        <span class="align-middle">Tasks</span>
      </div>
    </div>
      <table [ngClass]="{ 'empty-table': isNewTasksEmpty() }">
        <tr>
          <th>Task Name
            <svg (click)="sortTasksByName(this.new_tasks)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="filter" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
          </th>
          <th>Origin Project
            <svg (click)="sortTasksByProjectName(this.new_tasks)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="filter" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
          </th>
          <th>Section Name
            <svg (click)="sortTasksBySectionName(this.new_tasks)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="filter" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
          </th>
          <th>Due Date
            <svg (click)="sortTasksByDueDate(this.new_tasks)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="filter" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
          </th>
        </tr>
        <ng-container *ngFor="let task of new_tasks">
          <tr class="td_row" [class.clicked]="clickedTask?.id === task.id" (click)="togglePopUp($event, task.id)">
            <td class="name">
              {{ task.taskName }}
            </td>
            <td class="projectname" (click)="this.goToProject(task.project)">
              {{ task.project ? task.project.projectName : "No Project" }}
            </td>
            <td>{{task.sectionName? task.sectionName: "No section"}}</td>
            <td>{{ task.endDate | date }}</td>
          </tr>
        </ng-container>
      </table>
  </div>

  <div class="all">
    <div class="header">
      <h5>&#10024; Due Soon</h5>
      <div class="page-size-container">
        <span class="align-middle">Show</span>
        <select class="page_size" (change)="LoadSoonTasks($event)">
          <option value="5" selected>5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
        <span class="align-middle">Tasks</span>
      </div>
    </div>
    <table [ngClass]="{ 'empty-table': isSoonTasksEmpty() }">
      <tr>
        <th>Task Name
          <svg (click)="sortTasksByName(this.soon_tasks)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="filter" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
        </svg>
        </th>
        <th>Origin Project
          <svg (click)="sortTasksByProjectName(this.soon_tasks)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="filter" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </th>
        <th>Section Name 
          <svg (click)="sortTasksBySectionName(this.soon_tasks)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="filter" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </th>
        <th>Due Date
          <svg (click)="sortTasksByDueDate(this.soon_tasks)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="filter" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </th>
      </tr>
      <ng-container *ngFor="let task of soon_tasks">
        <tr class="td_row" [class.clicked]="clickedTask?.id === task.id" (click)="togglePopUp($event, task.id)">
          <td class="name">
            {{ task.taskName }}
          </td>
          <td class="projectname" (click)="this.goToProject(task.project)">
            {{ task.project ? task.project.projectName : "No Project" }}
          </td>
          <td>{{task.sectionName? task.sectionName: "No section"}}</td>
          <td [ngStyle]="{'color': isOverdue(task.endDate) ? '#a64266' : ''}">{{ task.endDate | date }}</td>
        </tr>
      </ng-container>
    </table>
  </div>

  <div class="all">
    <div class="header">
      <h5>🎉 Closed Tasks</h5>
      <div class="page-size-container">
        <span class="align-middle">Show</span>
        <select class="page_size" (change)="LoadClosedTasks($event)">
          <option value="5" selected>5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
        <span class="align-middle">Tasks</span>
      </div>
    </div>
    <table [ngClass]="{ 'empty-table': isClosedTasksEmpty() }">
      <tr>
        <th>Task Name 
          <svg
          (click)="sortTasksByName(this.closed_tasks)"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="filter"
          viewBox="0 0 16 16"
        ><path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
        </svg>
        </th>
        <th>Origin Project
          <svg
          (click)="sortTasksByProjectName(this.closed_tasks)"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="filter"
          viewBox="0 0 16 16"
        ><path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
        </svg>
        </th>
        <th>Section Name
          <svg
          (click)="sortTasksBySectionName(this.closed_tasks)"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="filter"
          viewBox="0 0 16 16"
        ><path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
        </svg>
        </th>
        <th>
          Due Date
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="filter" viewBox="0 0 16 16" (click)="sortTasksByDueDate(this.closed_tasks)">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </th>
      </tr>
      <ng-container *ngFor="let task of closed_tasks">
        <tr
        class="td_row"
        [class.clicked]="clickedTask?.id === task.id"
        (click)="togglePopUp($event, task.id)"
      >
          <td class="name">
            {{ task.taskName }}
          </td>
          <td class="projectname"  (click)="this.goToProject(task.project)">{{ task.project ? task.project.projectName : 'No Project' }}</td>
  
          <td>{{task.sectionName? task.sectionName: "No section"}}</td>
          <td>{{ task.endDate | date }}</td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>