<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
    <style>
      /* Your CSS styles */
    </style>
  </head>
  <body>
    <br />
    <div class="all">
      <div id="all1">
        <h5>📬 New Tasks</h5>

        <table>
          <tr>
            <th></th>
            <th>TASK NAME</th>
            <th>ORIGIN PROJECT</th>
            <th>ASSIGNEES</th>
            <th>DUE DATE</th>
          </tr>
          <ng-container *ngFor="let task of tasks">
            <tr
              class="red"
              [class.clicked]="clickedTask?.id === task.id"
              *ngIf="task.taskStatus === 0"
              (click)="togglePopUp($event, task.id)"
            >
              <td>
                <input
                  type="checkbox"
                  [id]="'checkBox-' + task.id"
                  (change)="toggleTaskCompletion(task)"
                />
              </td>
              <td class="name">
                {{ task.taskName }}
              </td>
              <td>
                {{ task.project ? task.project.projectName : "No Project" }}
              </td>
              <td>Task visibility goes here</td>
              <td>{{ task.endDate | date }}</td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
    <br />

    <div class="all">
      <div id="all1">
        <h5>&#10024; Due in 3 days</h5>

        <table>
          <tr>
            <th></th>
            <th>Task Name</th>
            <th>ORIGIN PROJECT</th>
            <th>ASSIGNEES</th>
            <th>DUE DATE</th>
          </tr>
          <ng-container *ngFor="let task of tasks">
            <tr
              class="red"
              [class.clicked]="clickedTask?.id === task.id"
              *ngIf="task.taskStatus === 1"
              (click)="togglePopUp($event, task.id)"
            >
              <td>
                <input
                  type="checkbox"
                  [id]="'checkBox-' + task.id"
                  (change)="toggleTaskCompletion(task)"
                />
              </td>
              <td class="name">
                {{ task.taskName }}
              </td>

              <td>
                {{ task.project ? task.project.projectName : "No Project" }}
              </td>

              <!-- <td [ngClass]="getStatusString(task.taskStatus)">
              <p>{{ getStatusString(task.taskStatus) }}</p>
            </td> -->
              <td>Task visibility goes here</td>
              <td>{{ task.endDate | date }}</td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
    <br />
    <div class="all">
      <div id="all1">
        <h5>🎉 Completed</h5>

        <table>
          <tr>
            <th></th>
            <th>TASK NAME</th>
            <th>ORIGIN PROJECT</th>
            <th>ASSIGNEES</th>
            <th>DUE DATE</th>
          </tr>
          <ng-container *ngFor="let task of tasks">
            <tr
              class="red"
              [class.clicked]="clickedTask?.id === task.id"
              *ngIf="task.taskStatus === 2"
              (click)="togglePopUp($event, task.id)"
            >
              <td>
                <input
                  type="checkbox"
                  [id]="'checkBox-' + task.id"
                  (change)="toggleTaskCompletion(task)"
                  [checked]="task.taskStatus === 2"
                />
              </td>
              <td class="name">
                {{ task.taskName }}
              </td>
              <td>
                {{ task.project ? task.project.projectName : "No Project" }}
              </td>

              <!-- <td [ngClass]="getStatusString(task.taskStatus)">
              <p>{{ getStatusString(task.taskStatus) }}</p>
            </td> -->
              <td>Task visibility goes here</td>
              <td>{{ task.endDate | date }}</td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
    <br />
    <app-popup class="pop" *ngIf="showPopUp" [task]="clickedTask"></app-popup>
  </body>
</html>
