* {
  font-family: 'Public Sans', sans-serif !important;
}
html {
  background-color: #f5f5f9;
}

body {
  background-color: #f5f5f9;
  color: #697a8d;
}
.nav {
  display: inline;
}

.all {
  margin-top: 30px;
  margin: auto; 
  padding: 20px;
  width: 85%;
  min-height: 10vh; 
  background-color: #ffffff;
  color: #697a8d;
  border: solid 1px #d9dee3;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  overflow-y: hidden; 
  overflow-x: auto; 
  box-sizing: border-box; 
}

table {
  color: #697a8d;
  font-size: 12px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  margin-bottom: -20px;
  margin-top: 10px;
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

@media (max-width: 1200px) {
  td {
    padding: 2px;
  }
}
th {
  font-size: 16px;
  border: 1.5px solid lightgray;
  font-weight: 700; 
  padding: 5px;
  border-left: none;
  border-right: none;
  width: 25%; 
  padding-left: 10%;
}

td {
  padding: 10px;
  border: 1px solid lightgray;
  border-left: none;
  border-right: none;
  font-size: 14px;
  white-space: nowrap; 
  text-overflow: ellipsis;
  text-align: center;
}


tr:last-child {
  border-bottom: none;
}
tr:last-child td {
  border-bottom: none;
}

.name {
  font-size: 16px;
}

.td_row:hover,
.td_row.clicked {
  cursor: pointer;
  /* background-color: #e7e7ff !important; */
  color: #5f61e6 !important;
  font-weight: 600;
}

p {
  text-align: center;
  padding: 5px;
  border-radius: 8px;
}
.filter {
  margin-left: 2%;
}
.filter:hover {
  cursor: pointer;
}
.empty-table th {
  border-bottom: none;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.page-size-container {
  margin-left: 10px; 
}

.page_size {
  color: #697a8d;
  font-size: 12px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 6px;
  width: 100%; 
}
.page_size:hover{
  outline: none;
  border: 1px solid #5f61e6 !important;
}
.page_size:focus{
  outline: none;
}
.projectname:hover{
  text-shadow: 0 0 20px #5f61e6, 0 0 40px #5f61e6, 0 0 60px #5f61e6;
  background-color: #d9dee3;
  border-radius: 8px;
}
