.board-name {
    font-size: 20px;
    font-weight: bold;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-width: 0;
    min-height: 0;
}

.board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
}

.board-column {
    background-color: rgb(230, 224, 224);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: 200px;
    /* flex-grow: 1; */
    /* flex-basis: 0; */
    min-width: 100px;
    margin: 15px;
    padding: 15px;
    padding-top: 5px !important;
    border-radius: 0.5rem;
}

.column-title {
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}
.tasks-container {
    flex-grow: 1;
}
.task {
    display: flex;
    padding: 10px;
    background: white;
    border-bottom: solid 1px #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }