<div class="btn-group">
  <div class="indicator" *ngIf="notificationService.newNotifications">
    <div class="notif-count">
      <!-- ako treba brojac notif, made meni isk deluje suvisno... -->
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    fill="currentColor"
    class="bi bi-bell"
    viewBox="0 0 16 16"
    class="nav-link dropdown-toggle hide-arrow rightImg"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    (click)="getNotifications()">
    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
  </svg>
  <div class="dropdown-menu dropdown-menu-end">
    <span style="padding-left: 15px;">Notifications</span>
    <div class="dropdown-divider"></div>
    <ul style="overflow: auto; max-height: 120px;">
      <li *ngFor="let notification of notification_list" style="display: flex;align-items:center; margin-top: 5px;">
        <img *ngIf="notification.sender?.profilePicUrl &&( notification.type===0 || notification.type===1)" size="25" class="dropImg1 rounded-circle shadow-4-strong" [src]="uploadService.getImage(notification.sender.profilePicUrl)" alt="">
        <ngx-avatars *ngIf="!notification.sender?.profilePicUrl &&( notification.type===0 || notification.type===1)" size="25" bgColor="#5d57c2" [name]="notification.sender?.firstName + ' ' + notification.sender?.lastName" class="dropImg1 rounded-circle shadow-4-strong"></ngx-avatars>
        <a class="dropdown-item" href="javascript:void(0);">
          {{notification.sender.firstName}} {{notification.type==0?"uploaded an attachment":notification.type==1?"commented on a task":notification.type==2?"assigned you a task":"assigned you to a project"}}
        </a>
      </li>
    </ul>
    <div class="dropdown-divider"></div>
    <div class="see-all-container" (click)="see_all_notifications(AllNotifications)">
      <small style="padding-left: 15px;padding-bottom: 3px;">See all notifications...</small>
    </div>
  </div>
</div>

<ng-template #AllNotifications>
  <div class="modal-header">
    <h4 class="modal-title pull-left">All Notifications</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalref?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="this.notification_list.length!=0">
    <table class="notifications-table">
      <tr class="inactive_tr"><td></td><td></td><td></td><td style="text-align: center;"><input class="form-check-input" type = "checkbox" (change)="selectAllNotifications()" ></td></tr>
      <tr class="active_tr" *ngFor="let notification of notifications" (click)="notificationService.follow_notif()">
        <td>
          <ngx-avatars *ngIf="!notification.sender?.profilePicUrl &&( notification.type===0 || notification.type===1)" size="25" bgColor="#5d57c2" [name]="notification.sender?.firstName + ' ' + notification.sender?.lastName" class="dropImg1 rounded-circle shadow-4-strong"></ngx-avatars>
          <img *ngIf="notification.sender?.profilePicUrl &&( notification.type===0 || notification.type===1)" class="dropImg1 rounded-circle shadow-4-strong" [src]="uploadService.getImage(notification.sender.profilePicUrl)" alt="">
        </td>
        <td style="margin-left: 0;padding-left: 0; text-align: start;">{{notification.sender.firstName}} {{notification.sender.lastName}} {{getNotificationType(notification.type)}} {{notification.task.taskName}}</td>
        <td>{{notification.dateTime | date:'yyyy-MM-dd HH:mm'}}</td>

        <td style="z-index:123;text-align: center;"><input class="form-check-input" type="checkbox" [checked]="markedNotifications.includes(notification.id)" (change)="toList(notification.id)" *ngIf="notification.read===false"><i *ngIf="!notification.read===false" style="font-size: small;">read</i></td>
      </tr>
    </table>
  </div>
  <div class="modal-body" style="align-content: center;height: 100px;" *ngIf="this.notification_list.length===0">
    <h5 style="text-align: center;">There are no new Notifications...</h5>
  </div>
  <div class="modal-footer"*ngIf="this.notification_list.length!=0">
    <button class="btn btn-primary d-grid" type="submit" (click)="read_notifications()">Mark as read</button>
  </div>
</ng-template>
