*{
  font-family: 'Public Sans',sans-serif !important;
}
.navbar-nav-right img {
  width: 30px;
  height: auto;
  padding-right: 7px;
}

.dropdown-menu .firstDrop{
  text-align: justify;
  padding-top: 10px;
  list-style: none;
  background-color: #ffffff;
}
.dropdown-menu .firstDrop .nav-item{
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropdown-menu .firstDrop .nav-item a::after{
  background-color: #413561;
}

.dropdown-item{
  font-size: 14px;
  color: #697a8d;
  cursor: pointer;
}
.dropdown-menu{
  margin-top: 27px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(200%) blur(6px);
  color: #697a8d;
  border-color: #f5f5f9;
  border-radius: 0.375rem;
  padding-bottom: 0;
}
img{
  width: 25px;
  height: 25px;
  /* object-fit: cover; */
}

ul{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
li{
  display: flex;
  align-items:center; 
  margin-top: 5px;
  margin-left: 15px;
  padding: 3px;
}
.dropdown-divider{
  padding: 0;
  margin: 0;
}
.see-all-container {
  height: 30px;
  align-content: center;
  display: flex; /* Use flexbox for layout */
  align-items: flex-end; /* Align items at the bottom */
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.see-all-container:hover{
  transition: 0.3s ease-in-out;
  background-color: #696cff;
  color : #ffffff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.modal-ul{
  list-style: none;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.modal{
  width: 800px;
  min-height: 350px;
  margin: 0;
}
.modal-footer{
  align-content: end;
}
.modal-body{
  height: 300px;
  overflow: auto;
}

.notifications-table{
  width: 100%;
}
td{
  padding: 5px;
  width: fit-content;
  cursor: pointer;
}
.notification-data{
  margin-left: 0;
  margin-right: 0;
  padding-right: 0; 
  padding-left: 0; 
  text-align: start;
}
.notifications-table .active_tr{
  border: 1px transparent;
}
.notifications-table .active_tr:hover{
  border-bottom : 1px solid #696cff;
}
.inactive_tr{
  border-bottom: #697a8d;
  background-color: #f5f5f9;
}

.indicator{
  position: absolute;
  top: 0%;
  right: 0%;
  left: 60%;
  bottom: 60%;
  background-color: #696cff;
  border-radius: 50%;
}
.btn-primary{
  padding: 5px;
  border:1px solid #696cff;
  color: #697a8d;
  border-radius: 0.375rem;
}
.btn-primary:hover{
  background-color: #696cff;
  color: white;
  transition: 0.5s ease-in-out;
}

