<div
  (mouseenter)="stopCountDown()"
  (mouseleave)="countDown()"
  class="toast_wrapper"
  [@openClose]="toastService.data && toastService.data.show ? 'open' : 'closed'"
>
  <div class="inner_wrapper">
    <div class="flex" *ngIf="toastService.data"   (click)="notificationService.follow_notif($event,toastService.data.target)">
      <img *ngIf="toastService.data.sender.profilePicUrl" class="dropImg1 rounded-circle shadow-4-strong"  [src]="uploadService.getImage(toastService.data.sender.profilePicUrl)" alt="">
      <div class="toast_content">
        <h5 class="toast_title">
          {{ toastService.data.title }}
        </h5>
        <div class="toast_text">
          {{ toastService.data.content }}
        </div>                      
      </div>
    </div>
    <div class="exit" (click)="this.toastService.hide()" aria-label="close">
      <button type="button" class="btn-close" aria-label="Close" >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>   
    </div>              
  </div>
  <div
  class="progress_bar"
  [ngClass]="{ success: toastService.data && toastService.data.type === 1 }"
  #element
  ></div>

</div>
