<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<div id="container">
  <div class="col-md-5 mx-2 float-end" *ngIf="showComponent">
      <div class="card shadow border-0">
        <div class="card">
          <div class="card-header project-header">
            Create New Project
          </div>
          <div class="card-body">
            <form #createProjectForm="ngForm" class="mg-3" (ngSubmit)="CreateProject()" autocomplete="off" id="ProjectCreate">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Project Name" [(ngModel)]="newProject.ProjectName" name="Name" [ngClass]="{'is-invalid': buttonClicked && (!newProject.ProjectName || projectNameExists)}">
                <div *ngIf="buttonClicked && !newProject.ProjectName && !projectNameExists" class="invalid">Please enter project name.</div>
                <div *ngIf="buttonClicked && projectNameExists" class="invalid">You already have project with the same name.</div>
              </div>
              <div class="mb-3">
                <label for="StartDate" class="form-label">Start Date</label>
                <input class="form-control" type="date" placeholder="Start Date" [(ngModel)]="newProject.StartDate" name="StartDate" [ngClass]="{'is-invalid': buttonClicked && !newProject.StartDate || isInvalidDate()}">
                <div *ngIf="buttonClicked && !newProject.StartDate" class="invalid">Please enter start date.</div>
                <div *ngIf="isInvalidDate()" class="invalid">Invalid date entered. Please check if the start date is in the past or if the end date is set before the start date.</div>
              </div>
              <div class="mb-3">
                <label for="EndDate" class="form-label">End Date</label>
                <input class="form-control" type="date" placeholder="End Date" [(ngModel)]="newProject.EndDate" name="EndDate" [ngClass]="{'is-invalid': buttonClicked && !newProject.EndDate || isInvalidDate()}">
                <div *ngIf="buttonClicked && !newProject.EndDate" class="invalid">Please enter end date.</div>
                <div *ngIf="isInvalidDate()" class="invalid">Invalid date entered. Please check if the start date is in the past or if the end date is set before the start date.</div>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="newProject.Description" name="Description"></textarea>
              </div>
              <div class="mb-3">
                <label id="lbl" for="assignees" class="form-label">Project Members</label>
                <ng-select [items]="users" [(ngModel)]="selectedUsers" bindLabel="name" placeholder="Select Project Members" optionLabel="name" id="assignee" name="Assignees" [multiple]="true" (click)="$event.stopPropagation()">
                  <ng-template ng-option-tmp let-user="item">
                    <div class="user-detail">
                      <div *ngIf="user.profilePicUrl" class="nameAvatar">
                        <img [src]="uploadservice.getImage(user.profilePicUrl)" class="avatar rounded-circle shadow-4-strong nameAvatar" height="25" width="25">
                        <div style="margin-left: 0.4rem;">{{ user.name }}</div>
                      </div>
                      <div *ngIf="!user.profilePicUrl" class="nameAvatar">
                        <ngx-avatars size="25" bgColor="#5d57c2" [name]="user.name" value="75%"></ngx-avatars>
                        <div style="margin-left: 0.4rem;">{{ user.name }}</div>
                      </div>
                      <div (click)="$event.stopPropagation()">
                        <select (mousedown)="$event.stopPropagation()" [(ngModel)]="user.projectRole" [ngModelOptions]="{standalone: true}" class="form-select form-select-xs">
                          <option value=1 *ngIf="!SelectedOwner(user)">Project Owner</option>
                          <option value=2>Manager</option>
                          <option value=3>Participant</option>
                          <option value=4 selected>Guest</option>
                        </select>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <span *ngIf="item.profilePicUrl" class="ng-value-label"><img class="avatar rounded-circle shadow-4-strong"  height="25" width="25"  [src]="uploadservice.getImage(item.profilePicUrl)"> {{item.name}}</span>
                    <span *ngIf="!item.profilePicUrl" class="ng-value-label"><ngx-avatars size="21" bgColor="#5d57c2" [name]="item.name" value="75%"></ngx-avatars>{{item.name}}</span>
                    <div class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="col-md">
                <label for="priorityDiv" class="form-label">Priority</label>
                <div id="PriorityChoice">
                  <div class="form-check">
                    <input class="form-check-input low" type="radio" value=0 name="Priority" checked>
                    <label class="form-check-label">Low</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input medium" type="radio" value=1 name="Priority" [(ngModel)]="newProject.Priority">
                    <label class="form-check-label">Medium</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input high" type="radio" value=2 name="Priority" [(ngModel)]="newProject.Priority">
                    <label class="form-check-label">High</label>
                  </div>
                </div>
              </div>
              <div class="mb-3" id="addProjectBtn">
                <i (click)="ToggleProjectCard()" class="fas fa-chevron-right fa-2x"></i>
                <input class="btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="submit" value="Add Project">
              </div>
          </form>
          </div>
        </div>
        </div>
    </div>
</div>
