input[type="date"]{
    display: block;
    width: 100%;
    padding: .4375rem .875rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #d9dee3;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.col-md div{ margin-bottom: 0; }

:host ::ng-deep .p-multiselect {
  width: 100%;
}

:host ::ng-deep .p-multiselect-label {
  width: calc(100% - 2em); /* Oduzimamo padding i ikonu za brisanje */
}

label{ margin-right: 1rem; }

h4{
    color: #212529;
    margin-bottom: 0;
    padding: 1rem 0 0 1rem;
    font-weight: 400;
}

.btn{
    color: #fff;
    background-color: #696cff;
    border-color: #696cff;
    box-shadow: 0 .125rem .25rem 0 rgba(105,108,255,.4)
}

.btn:hover{
    color: #fff !important;
    background-color: #5f61e6 !important;
    border-color: #5f61e6 !important;
    transform: translateY(-1px) !important
}

#PriorityChoice{
    display: flex;
    align-items: center;
}

#customRadio1{
    background-color: #71dd37;
    border-color: #71dd37;
    box-shadow: 0 2px 4px 0 rgba(113,221,55,.4);
}

#customRadio2{
    background-color: #ffab00;
    border-color: #ffab00;
    box-shadow: 0 2px 4px 0 rgba(255,171,0,.4);
}

#customRadio3{
    background-color: #ff3e1d;
    border-color: #ff3e1d;
    box-shadow: 0 2px 4px 0 rgba(255,62,29,.4);
}

#addProjectBtn{
    display: flex;
   justify-content: right;
   margin-top: 16px;
   margin-bottom: 0;
}

#lbl{
    display: block;
    margin-bottom: 10px;
}

