* {
  font-family: "Public Sans", sans-serif;
}
@media (max-width: 1200px) {
  .pop {
    left: 10px;
    width: 96.5%;
  }

}

#popupTaskName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: -5px;
}

.header {
  text-align: left;
  margin-right: 20px;
  margin-bottom: 3%;
  font-size: 14px;
}

#popupDueDate {
  margin-left: 60px;
  font-size: 14px;
}
#popupOriginProject {
  margin-left: 20px;
  font-size: 14px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #d9dee3;
  border: none;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#popupOriginProject:hover{
  cursor: pointer;
  filter: brightness(90%);
}

#assignee {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 10px;
}

#username {
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
}

img{
  width: 30px;
  height: auto;
}
.description,
.description1{
  color: #697a8d;
  font-size: 12px;
  outline: none;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
}
.form-control {
  color: #697a8d;
  font-size: 12px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 6px;
  margin-left: 5%;
  margin-bottom: 1%;
}
.form-control[type="file"]:not(:disabled):not([readonly]):hover {
  cursor: pointer;
  background-color: #e7e7ff !important;
  color: #5f61e6 !important;
}
.comment:hover,
.description:hover{
  outline: none;
  border: 1px solid #5f61e6 !important;
  box-shadow: 0 0 3px #5f61e6;
}
.comment:hover,
.description:hover{
  outline: none;
  border: 1px solid #5f61e6 !important;
  box-shadow: 0 0 3px #5f61e6;
}
.mark {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  background-color: #5f61e6;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  float: right;
}

.file {
  float: right;
  margin-right: 5%;
}
.back:hover,
.full:hover,
.file:hover,
.trash:hover,
.exit_full:hover{
  cursor: pointer;
  color: #5f61e6;
}
.full,
.exit_full,
.trash{
  float: right;
  margin-right: 5%;
}
.back {
  float: right;
  margin-right: 2%;
}
#container1{
  position: relative;
  height: 80%;
  overflow-y: auto;
}
.col-md-5 {
  background-color: #ffffff;
  padding: 15px;
  height: 83%;
  position: absolute;
  right: 0.2%;
  transition: right 0.5s;
  color: #697a8d;
  border-color: solid #d9dee3;
  border-width: 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  font-weight: 600;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}

.comment {
  color: #697a8d;
  font-size: 12px;
  outline: none;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  word-wrap: break-word;
  resize: none;
}
.edit_content{
  color: #697a8d;
  font-size: 12px;
  outline: none;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
  word-wrap: break-word;
  resize: none;
  margin-bottom: 5px;
}
.comments {
  margin-top: 20px;
  color: #697a8d;
  border-radius: 8px;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
.visible_comments{
  margin-top: -5px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 10px;
}
.add_comment,
.save_edit,
.cancel_edit{
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  background-color: #5f61e6;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
}
.save_edit{
  background-color: #3fb94c;
}
.edit_comment{
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  background-color: #3fb94c;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgba(67, 89, 113, 0.12);
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
}
.mark:hover,
.add_comment:hover,
.edit_comment:hover,
.save_edit:hover,
.cancel_edit:hover
{
  filter: brightness(120%);
}
.comment_header{
  margin-bottom: -10px;
  margin-left: -10px;
}
.fixed-comment-area {
  border-top: 0.5px solid lightgray;
  position: absolute;
  padding-right: 15px;
  padding-left: 15px;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
}
.scroll{
  height: 85%;
  overflow-y: auto;
}
.no_comments{
  padding-left: 20px;
}

.content p{
  color: #697a8d;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  padding-left: 30px;
  border-radius: 8px;
  word-wrap: break-word;
}
.comment_date{
  float: right;
  margin-top: -40px;
  margin-right: 5px;
  font-size: 12px;
  color: #697a8d;
}
.edit{
  margin-top: -5px;
  margin-left: 5px;
}
.edit:hover{
  color:  #5f61e6;
  cursor: pointer;
}
.closed,
.completed {
  background-color: #3fb94c;
  box-shadow: 0 0 3px #3fb94c;
}
.cant_close{
  background-color: #3fb94c;
  box-shadow: 0 0 3px #3fb94c;
  display: none;
}
.not_closed{
  display: none;
}
.not_completed{
  display: block;
}
.taskName{
  margin-top: 1px;
  margin-left: 1px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #697a8d;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  width: 70%;

}
.taskName:hover,
.taskName:focus,
.taskDueDate input:hover,
.taskDueDate input:focus,
#taskOriginProject:hover,
#taskOriginProject:focus
{
  outline: 1px solid #5f61e6 !important;
  box-shadow: 0 0 3px #5f61e6;
}
.taskDueDate{
  display: flex;
  height: 35px;
}
.taskDueDate input{
  margin-top: -6px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #697a8d;
  border-radius: 8px;
  padding-left: 10px;
}
#taskOriginProject{
  margin-left: 20px;
  font-size: 16px;
  color: #697a8d;
  background-color: #d9dee3;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mb-1{
  display: flex;
  align-items: center;
}
.form-label{
  font-size: 16px;
  margin-right: 20px;
}
.asigneeDropdown{
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  width: 60%;
}
.projectDropdown{
  outline: none;
  margin-top: -5px;
  border-radius: 8px;
  font-size: 14px;
  width: 60%;
}

.nameAvatar {
  margin-right: 5px !important;
}

.nameAvatar img {
  height: 25px !important;
  width: 25px !important;
}
.break{
  margin-top: 43px;
}

.fixed-comment-area textarea[disabled] {
  pointer-events: none;
  opacity: 0.6;
}

.fixed-comment-area textarea[disabled]:hover {
  cursor: not-allowed;
}

.mark.disabled {
  opacity: 0.5; 
  background-color: red;
}

.modal-container{
  border-radius: 8px;
  padding: 20px;
}

.delete_task,
.cancel_task{
  background-color: rgb(255, 50, 50);
  padding: 10px;
  outline: none;
  border: none;
  color: #ffffff;
  border-radius: 8px;
}
.cancel_task{
  background-color: #697a8d;
}
.delete_task:hover,
.cancel_task:hover
{
  filter: brightness(120%);
}

.file-download-container{
  margin-left: 20px;
  display: flex;
  width: 50px;
  border: 1px solid lightgray;
  overflow: hidden;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}


.scroll::-webkit-scrollbar {
  background-color: #ffffff;
  width: 16px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #ffffff;
}

.scroll::-webkit-scrollbar-button {
  display:none;
}

.download-link
{
  padding-left: 3px; 
  padding-right: 3px;
  color: #696cff;
}
.fileUrl:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
