* {
  font-family: "Public Sans", sans-serif;
}
.pop {
  padding: 15px;
  position: fixed;
  bottom: 0; 
  right: 10px; /* Adjust as needed */
  width: 40%;
  height: 89%;
  background-color: #ffffff;
  color: #697a8d;
  border-color: solid #d9dee3;
  border-width: 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  overflow: auto;
  z-index: 999; /* Ensure it appears above other content */
  font-weight: 600;
  font-size: 12px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .pop {
    left: 10px;
    width: 96.5%;
  }
  #popupOriginProject{
    /* padding-top: 20%; ne radi */ 
  }
}

#popupTaskName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: -5px;
}

.header {
  text-align: left;
  margin-right: 20px;
  margin-bottom: 3%;
  font-size: 15px;
}

#popupDueDate {
  margin-left: 60px;
  font-size: 14px;
}
#popupOriginProject {
  margin-left: 20px;
  font-size: 14px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #d9dee3;
  border: none;
  width: 200px; /* Set a specific width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
}

#assignee {
  display: inline-block; /* Make the image and text stay on the same line */
  vertical-align: middle; /* Align elements vertically */
  margin-left: 15px; /* Adjust margin as needed */
  margin-right: 10px; /* Adjust margin as needed */
}

#username {
  display: inline-block;
  margin-left: 5px; /* Adjust margin as needed */
  font-size: 13px;
}

img{
  width: 30px;
  height: auto;
}
.description{
  color: #697a8d;
  font-size: 12px;
  outline: none;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
}
.form-control {
  color: #697a8d;
  font-size: 12px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 6px;
  margin-left: 5%; /* Add margin-bottom for the gap */
  margin-bottom: 1%;
}
.comment {
  color: #697a8d;
  font-size: 12px;
  outline: none;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
}
.comments {
  /* padding: 10px; */
  color: #697a8d;
  margin-top: 22%;
  border-radius: 8px;
  height: 27%;
  width: 100%;
  bottom: 0;
}

.form-control[type="file"]:not(:disabled):not([readonly]):hover {
  cursor: pointer;
  background-color: #e7e7ff !important;
  color: #5f61e6 !important;
}
textarea:hover,
input:hover {
  outline: none; /* Remove default focus outline */
  border: 1px solid #5f61e6 !important; /* Add custom border */
  box-shadow: 0 0 3px #5f61e6; /* Add glow effect */
}
textarea:focus
input:focus {
  outline: none; /* Remove default focus outline */
  border: 1px solid #5f61e6 !important; /* Add custom border */
  box-shadow: 0 0 3px #5f61e6; /* Add glow effect */
}
.mark {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  background-color: #5f61e6;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  float: right;
}
/*file upload icon*/
.file {
  float: right;
  margin-right: 5%;
}
.back:hover,
.full:hover,
.file:hover {
  cursor: pointer;
}
.full {
  float: right;
  margin-right: 5%;
}
.back {
  float: right;
  margin-right: 2%;
}
