* {
  font-family: "Public Sans", sans-serif;
}
/* .pop {
  padding: 15px;
  position: fixed;
  bottom: 0; 
  right: 10px; 
  width: 40%;
  height: 89%;
  background-color: #ffffff;
  color: #697a8d;
  border-color: solid #d9dee3;
  border-width: 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  overflow: auto;
  z-index: 999; 
  font-weight: 600;
  font-size: 12px;
  overflow: hidden;
} */
@media (max-width: 1200px) {
  .pop {
    left: 10px;
    width: 96.5%;
  }
}

#popupTaskName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: -5px;
}

.header {
  text-align: left;
  margin-right: 20px;
  margin-bottom: 3%;
  font-size: 15px;
}

#popupDueDate {
  margin-left: 60px;
  font-size: 14px;
}
#popupOriginProject {
  margin-left: 20px;
  font-size: 14px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #d9dee3;
  border: none;
  width: 200px; /* Set a specific width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
}

#assignee {
  display: inline-block; /* Make the image and text stay on the same line */
  vertical-align: middle; /* Align elements vertically */
  margin-left: 15px; /* Adjust margin as needed */
  margin-right: 10px; /* Adjust margin as needed */
}

#username {
  display: inline-block;
  margin-left: 5px; /* Adjust margin as needed */
  font-size: 13px;
}

img{
  width: 30px;
  height: auto;
}
.description{
  color: #697a8d;
  font-size: 12px;
  outline: none;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
}
.form-control {
  color: #697a8d;
  font-size: 12px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 6px;
  margin-left: 5%; /* Add margin-bottom for the gap */
  margin-bottom: 1%;
}
.form-control[type="file"]:not(:disabled):not([readonly]):hover {
  cursor: pointer;
  background-color: #e7e7ff !important;
  color: #5f61e6 !important;
}
textarea:hover{
  outline: none; /* Remove default focus outline */
  border: 1px solid #5f61e6 !important; /* Add custom border */
  box-shadow: 0 0 3px #5f61e6; /* Add glow effect */
}
textarea:focus {
  outline: none; /* Remove default focus outline */
  border: 1px solid #5f61e6 !important; /* Add custom border */
  box-shadow: 0 0 3px #5f61e6; /* Add glow effect */
}
.mark {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  background-color: #5f61e6;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  float: right;
}
/*file upload icon*/
.file {
  float: right;
  margin-right: 5%;
}
.back:hover,
.full:hover,
.file:hover,
.trash:hover {
  cursor: pointer;
}
.full {
  float: right;
  margin-right: 5%;
}
.back {
  float: right;
  margin-right: 2%;
}
#container1{
  position: relative;
  height: 80%;
  overflow-y: auto;
}
.col-md-5 {
  background-color: #ffffff;
  padding: 15px;
  height: 83%;
  position: absolute;
  right: 0.2%;
  transition: right 0.5s;
  color: #697a8d;
  border-color: solid #d9dee3;
  border-width: 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  font-weight: 600;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}

.comment {
  color: #697a8d;
  font-size: 12px;
  outline: none;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  word-wrap: break-word;
  resize: none;
}
.comments {
  /* padding: 10px; */
  color: #697a8d;
  border-radius: 8px;
  width: 100%;
  overflow-y: auto;
}


.add_comment{
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  background-color: #5f61e6;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
}
.mark:hover,
.add_comment:hover{
  filter: brightness(120%);
}
.comment_header{
  margin-bottom: -10px;
}
.fixed-comment-area {
  border-top: 0.5px solid lightgray;
  position: absolute;
  padding-right: 15px;
  padding-left: 15px;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
}
.scroll{
  height: 78%;
  overflow-y: auto;
}
.no_comments{
  padding-left: 20px;
}
.content p{
  color: #697a8d;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 15px;
  outline: none;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 20px;
  word-wrap: break-word;
}
.comment_date{
  float: right;
  margin-top: -30px;
  margin-right: 10px;
  font-size: 12px;
  color: #697a8d;
}
.trash{
  margin-left: 15px;
}
