<div class="container1">

  <div class="col-md-5 mx-2 float-end" id="popUp" *ngIf="task">
    <div class="scroll">
      <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="back"
      viewBox="0 0 16 16"
      (click)="close()"
    >
      <path
        fill-rule="evenodd"
        d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"
      />
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="full"
      viewBox="0 0 16 16"
      (click)="full()"
    >
      <path
        fill-rule="evenodd"
        d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707"
      />
    </svg>
    <svg  (click)="full()" style="display: none;"
      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="exit_full" viewBox="0 0 16 16">
      <path d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5m5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5M0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5m10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0z"/>
    </svg>

    <!-- <div class="taskName-container"></div> -->
    <h6 *ngIf="this.task.projectRole=='2' || this.task.projectRole=='3' || this.task.projectRole=='4'"  id="popupTaskName">{{ task.taskName }}</h6>
    <input  class="taskName" type="text" value="{{task.taskName}}" [(ngModel)]="task.taskName" (blur)="updateTaskInfo(this.task)" *ngIf="task.projectRole=='0' || task.projectRole=='1'">
    <br />
    <p style=" font-size: 14px; margin-bottom: 5px;   margin-right: 20px; margin-bottom: 10px;" *ngIf="this.task.projectRole=='2' || this.task.projectRole=='3' || this.task.projectRole=='4'" >
      Due Date <span id="popupDueDate">{{ task.endDate | date }}</span>
    </p>
    <div class="taskDueDate" *ngIf="this.task.projectRole=='0' || this.task.projectRole=='1'">
      <p class="header">Due Date</p>
      <input  type="text" placeholder="{{task.endDate|date}}" onfocus="this.type='date'" onblur="this.type='text|date'" [value]="task.endDate | date" (blur)="updateTaskDueDate($event)">
    </div>
    <p style=" font-size: 14px; margin-bottom: 5px;   margin-right: 20px; margin-bottom: 10px;">
      Origin Project
      <span id="popupOriginProject"  (click)="goToProject(this.selectedProject)">{{
         this.selectedProject.projectName
      }}</span>
    </p>


    <p style=" font-size: 14px; margin-bottom: 5px;   margin-right: 20px;" *ngIf="this.task.projectRole=='2' || this.task.projectRole=='3' || this.task.projectRole=='4'" >Assignee 
      <ngx-avatars  id="assignee" *ngIf="!user.profilePicUrl" size="30" bgColor="#5d57c2" [name]="user.firstName+ ' ' + user.lastName" class="avatar rounded-circle shadow-4-strong" height="25" width="25"></ngx-avatars> 
      <img id="assignee" *ngIf="user.profilePicUrl" [src]="this.uploadservice.getImage(user.profilePicUrl)"class="avatar rounded-circle shadow-4-strong" height="25" width="25"><p id="username">{{user?.firstName}} {{user?.lastName}}</p>
    </p>
    <div class="mb-1 chooseAssignee" autocomplete="off" *ngIf="this.task.projectRole=='0' || this.task.projectRole=='1'">
      <label style=" font-size: 16px;" for="assignee2" class="form-label">Assignee</label>
      <ng-select class="asigneeDropdown" [items]="users" [(ngModel)]="selectedUser" name="assignee" bindLabel="fullName" placeholder="Select Assignee" (click)="$event.stopPropagation()" (change)="updateTaskInfo(this.task)">
        <ng-template ng-option-tmp let-user="item" let-index="index">
          <div style="display: flex; align-items: center;">
            <div *ngIf="user.profilePicUrl" class="nameAvatar">
              <img [src]="uploadservice.getImage(user.profilePicUrl)" class="avatar rounded-circle shadow-4-strong" height="25" width="25"/>
            </div>
            <div *ngIf="!user.profilePicUrl" class="nameAvatar">
              <ngx-avatars size="25" bgColor="#5d57c2" [name]="user?.firstName + ' ' + user?.lastName" value="75%"></ngx-avatars>
            </div>
            <div>
              {{ user.fullName }}
            </div>
        </div>
        </ng-template>
        <ng-template ng-label-tmp let-item="item">
          <div style="display: flex; align-items: center;">
            <div *ngIf="item.profilePicUrl" class="nameAvatar">
              <img [src]="uploadservice.getImage(item.profilePicUrl)" class="avatar rounded-circle shadow-4-strong" height="25" width="25"/>
            </div>
            <div *ngIf="!item.profilePicUrl" class="nameAvatar">
              <ngx-avatars class="ngAvtr" size="25" bgColor="#5d57c2" [name]="item?.firstName + ' ' + item?.lastName" value="75%"></ngx-avatars>
            </div>
            <div>
              {{ item.fullName }}
            </div>
          </div>
        </ng-template>
      </ng-select>
      </div>
      <p style=" font-size: 14px; margin-bottom: 5px;">Description</p>
        <textarea class="description1" rows="1" placeholder="Description" [value]="task.description" readonly  *ngIf="this.task.projectRole=='2' || this.task.projectRole=='3' || this.task.projectRole=='4'"></textarea>
        <textarea class="description" rows="1" placeholder="Description" [value]="task.description" [(ngModel)]="task.description" (blur)="updateTaskInfo(this.task)" *ngIf="this.task.projectRole=='0' || this.task.projectRole=='1'"></textarea>
      <p style="font-size: 14px; margin-bottom: 5px">Dependency</p>
      <ng-select [items]="this.tasks"  [(ngModel)]="selectedTasks" bindLabel="name" placeholder="Select Project Tasks" class="task_select" bindValue="id" style="border-radius: 8px; z-index: 0;" name="Dependency" [multiple]="true" (click)="$event.stopPropagation()" (blur)="this.deletedTask==false? addTaskDependency():this.deletedTask=false;">
        <ng-template ng-option-tmp let-task="item">
          <div class="user-detail" >
            <div class="nameAvatar">
              <div style="margin-left: 0.4rem;">{{ task.taskName }}</div>
            </div>
          </div>
        </ng-template>
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <span class="ng-value-label">{{ item.taskName }}</span>
          <div class="ng-value-icon right" (click)="clear(item); deleteTaskDependency(item);"  aria-hidden="true">×</div>
        </ng-template>
      </ng-select>
      
    <br />
    <button
      *ngIf="this.task.projectRole!='4'"
      class="mark"
      [ngStyle]="{ 'pointer-events': this.DisableCloseTask()==false ? 'none' : 'auto', 'opacity': this.DisableCloseTask()==false ? 0.5 : 1 }"
      [ngClass]="{ 'completed': task && task.statusName === 'InReview' }"
      (click)="toggleTaskCompletion(task)"
    >
      {{ task && task.statusName === 'InReview' ? "Re-open issue" : "Close issue" }}
    </button>
    <br>

    <div class="comments">
      <p class="header" id="comment_header">Comments</p>
      <div class="visible_comments">
        <span class="no_comments" *ngIf="!CheckForCommets(task)">No Comments</span>
        <div *ngFor="let comment of comments">
          <ng-continer *ngIf="this.task.id===comment.taskId">
            <p> <ngx-avatars  id="assignee" *ngIf="!comment.appUserPicUrl" size="30" bgColor="#5d57c2" [name]="comment.senderFirstName + ' ' + comment.senderLastName" class="avatar rounded-circle shadow-4-strong" height="25" width="25"></ngx-avatars> 
              <img *ngIf="comment.appUserPicUrl" id="assignee" [src]="this.uploadservice.getImage(comment.appUserPicUrl)"class="avatar rounded-circle shadow-4-strong" height="25" width="25"> {{ comment?.senderFirstName }} {{ comment?.senderLastName }}</p>
            <span class="comment_date">{{ comment?.messageSent  | date:'MMM d, y, h:mm a' }} <span *ngIf="comment.edited" >(edited)</span>
            <ng-continer *ngIf="this.task.projectRole!='4'">
              <svg *ngIf="this.comment.senderId==this.appUserId"  
              (click)="ShowEdit(comment.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="edit" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg>
            </ng-continer>
            </span>
            <div class="content">
                <p  id="comment_content{{comment.id}}" >{{ comment.content }}</p>
                <label style="padding-left: 20px;" *ngIf="comment?.fileUrl" for="fileurl">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                    <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                  </svg>
                </label>
                <a style="padding-left: 3px; padding-right: 3px;" name="fileurl" *ngIf="comment?.fileUrl" (click)="downloadFile(comment.fileUrl)">{{ comment?.fileUrl }}</a>
                <svg  *ngIf="comment?.fileUrl"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
                <textarea class="edit_content" id="edit_content{{comment.id}}" style="display: none;" rows="3">{{ comment.content }}</textarea>
                <button class="save_edit" id="save_edit{{comment.id}}" style="display: none;" (click)="editContent(comment.id)">Save Changes</button>
                <button class="cancel_edit" id="cancel_edit{{comment.id}}" style="display: none;" (click)="CancelEdit(comment.id)">Cancel</button>
            </div>
          </ng-continer>
          <hr class="break">
        </div>
      </div>
    </div>
    </div>
    <div class="fixed-comment-area">
      <textarea [disabled]="task.projectRole == '4'" class="comment" rows="3" placeholder="Add a comment" #commentInput></textarea>
      <button *ngIf="this.task.projectRole!='4'" class="add_comment" (click)="addComment()">Add Comment</button>
      <app-file-upload></app-file-upload>
    </div>

  </div>
</div>
