.navbar-nav .nav-link {
  color: #697A8D; /* Boja teksta */
}

/* Stilizacija div containera */
.navbar .container {
  width: 100%; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: white;
}

/* Stilizacija slika */
.navbar img {
  width: 30px; 
  height: auto;
  padding-right: 10px;
}

.navbar-nav .nav-item {
  margin-right: 30px; 
}

