/* navbar.css */
nav {
  margin: 10px;
}
body {
  background-color: #f5f5f9;
}
.layout-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 10px 20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.95) !important;
  backdrop-filter: saturate(200%) blur(6px);
  border-radius: 8px;
  color: #697a8d;
}
.navbar-brand {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar-nav-right img {
  width: 30px;
  height: auto;
  padding-right: 7px;
}

/* .navbar-nav-right {
  display: flex;
  align-items: center;
} */

.navbar-nav-right img {
  margin-left: 15px;
}

.tabs-to-dropdown a:hover {
  color: #413561;
}

.tabs-to-dropdown a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-toggler{
  border-color: #413561;
}
.navbar-collapse{
  margin-left:  20px;
}

.dropdown-menu .firstDrop{
  text-align: justify;
  padding-top: 6px;
  list-style: none;
  background-color: #ffffff;
  z-index: 1000;
  position: absolute;
}
.dropdown-menu .firstDrop .nav-item{
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropdown-menu .firstDrop .nav-item a::after{
  background-color: #413561;
}

.imgRight{
  padding-left: 2px;
}
.avatar {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.avatar img {
  display: block;
  width: 75%;
  height: 75%;
  object-fit: cover;
  padding-left: 0%;
  padding-right: 10px;
}

.dropdown-item{
  font-family: "Public Sans", sans-serif;
  color: #697a8d;
  padding-left: 0px;

}
.align-middle{
  padding-left: 5px;
}
.dropdown-menu{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(200%) blur(6px);
  color: #697a8d;
  border-color: #f5f5f9;
  border-radius: 8px;
}
.rightImg{
  width: 30px;
}
.logoImg{
  width: 60px;
  padding-top: 0%;
  padding-bottom: 0%;
  margin: 0px !important;
}
.dropdown-menu-end{
  --bs-dropdown-link-active-bg: #ecd0f9;
}
 @media only screen and (min-width: 768px){

  .navbar-brand .dropdown-menu{
    display: none;
  }
  .tabs-to-dropdown{
    display: block
  }
}
/*za telefone*/
@media screen and (max-width: 500px) {
  .dropdown-menu-end
    {
      z-index: 100;
    }
}
.dropdown-menu-responsive a:hover {
  background-color: #ff0000; /* Change this to the color you want */
  color: #413561;
}

.active-link-text {
  text-decoration: underline;
  color: #7308ee;
  text-underline-offset: 30px;

}

.dropdown-menu-responsive .nav-item:active{
  background-color: #bc9fde;
}

@media (min-width: 768px) {
  .dropdown-menu-responsive .firstDrop li:active {
    background-color: #0000ff; /* Change this to the color you want */
    color: #413561;
  }
}

