<nav
  class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme"
  id="layout-navbar"
>
  <div class="navbar-nav-left d-flex" id="navbar-collapse">
    
    <img src="../../../assets/navIcons/logo.png" alt="" />
    <div class="tabs-to-dropdown">
      <div class="nav-wrapper d-flex align-items-center justify-content-between">
        <ul class="nav nav-pills d-none d-md-flex" id="pills-tab" role="tablist">
      <!-- <ul class="navbar-nav me-auto mb-2 mb-md-0"> -->
      <li class="nav-item active" *ngIf="isAdmin()">
        <a class="nav-link" routerLink="/admin">Manage Users</a>
      </li>
      <li class="nav-item active" *ngIf="!isAdmin() && isProjectManager()">
        <a class="nav-link" routerLink="/myprojects">My Projects</a>
      </li>
      <li class="nav-item" *ngIf="!isAdmin()">
        <a class="nav-link" routerLink="/mytasks" >My Tasks</a>
      </li>
      </ul>
    </div>
    </div>
  </div>

  <div class="navbar-nav-right d-flex" id="navbar-collapse">
    <img src="../../../assets/navIcons/sun.png" alt="" />
    <img src="../../../assets/navIcons/bell (1).png" alt="" />
    <!-- <ul>
    <li class="nav-item navbar-dropdown dropdown-user dropdown"> -->
      <img src="../../../assets/navIcons/user (4).png" class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">     
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <div class="dropdown-item">
            <div class="d-flex">
              <!-- <div class="flex-shrink-0 me-3"> -->
                <div class="avatar avatar-online">
                  <img src="../../../assets/navIcons/user (4).png" alt="">
                </div>
              <!-- </div> -->
              <div class="flex-grow-1">
                <span class="fw-medium d-block">{{user?.firstName}} {{user?.lastName}}</span>
                <small class="text-muted">{{user?.email}}</small>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/userinfo">
            <img src="../../../assets/navIcons/user (5).png" alt="">
            <span class="align-middle">My Profile</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="Logout()">
            <img src="../../../assets/navIcons/power.png" alt="" >        
           <span class="align-middle">Logout</span>
          </a>
        </li>
        
      <!-- </ul>
    </li> -->
</ul>
  </div>
</nav>
