<nav class="layout-navbar navbar navbar-expand-md align-items-center bg-navbar-theme" id="layout-navbar">

  <div class="navbar-brand">
    <!-- Logo image will act as a toggle for small screens -->
    <img src="../../../assets/navIcons/logo.png" class="logoImg d-xl-none dropdown-toggle hide-arrow"
    href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
    <div class="dropdown-menu dropdown-menu-responsive">
      <ul class="firstDrop">
        <li class="nav-item active" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/admin">Manage Users</a>
        </li>
        <li class="nav-item active" *ngIf="!isAdmin()">
          <a class="nav-link" routerLink="/myprojects">My Projects</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin()">
          <a class="nav-link" routerLink="/mytasks">My Tasks</a>
        </li>
      </ul>
    </div>
    <!-- Logo for larger screens -->
    <img src="../../../assets/navIcons/logo.png" alt="" class="logoImg d-none d-xl-block d-l-block" />
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Content for larger screens -->
    <div class="tabs-to-dropdown">
      <div class="nav-wrapper d-flex align-items-center justify-content-between">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active" *ngIf="isAdmin()" routerLinkActive="active-link-text">
            <a class="nav-link" routerLink="/admin">Manage Users</a>
          </li>
          <li class="nav-item active" *ngIf="!isAdmin()" routerLinkActive="active-link-text">
            <a class="nav-link" routerLink="/myprojects">My Projects</a>
          </li>
          <li class="nav-item" *ngIf="!isAdmin()" routerLinkActive="active-link-text">
            <a class="nav-link" routerLink="/mytasks">My Tasks</a>
          </li>
          <!-- <li class="nav-item" *ngIf="" routerLinkActive="active-link-text">
            <a class="nav-link" routerLink="/mytasks">My Profile</a>
          </li>
          <li class="nav-item" *ngIf="!isAdmin()" routerLinkActive="active-link-text">
            <a class="nav-link" routerLink="/mytasks">My Tasks</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>

  <!-- Responsive content that will show in a dropdown for smaller screens -->


  <!-- Icons on the right remain visible on all screen sizes -->
  <div class="navbar-nav-right d-flex">
    <img src="../../../assets/navIcons/sun.png" alt="" class="rightImg2" />
    <app-notifications></app-notifications>

    <ngx-avatars *ngIf="!user?.url" size="30" bgColor="#5d57c2" [name]="user?.firstName + ' ' + user?.lastName" class="nav-link dropdown-toggle hide-arrow avatar1"
      href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" data-bs-boundary="viewport"></ngx-avatars>
      <img *ngIf="user?.url" [src]="user.url" alt="Avatar" class="rightImg nav-link rounded-circle shadow-4-strong dropdown-toggle hide-arrow avatar1"
      href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" data-bs-boundary="viewport">

      <ul class="dropdown-menu dropdown-menu-end">
      <li class="rightDrop">
        <div class="dropdown-item">
          <div class="d-flex">
            <div class="avatar avatar-online">
              <ngx-avatars *ngIf="!imgFlag" size="45" bgColor="#5d57c2" [name]="user?.firstName + ' ' + user?.lastName" value="75%"></ngx-avatars>
              <img *ngIf="imgFlag" [src]="user.url" alt="Avatar" class="dropImg1 rounded-circle shadow-4-strong">

            </div>
            <div class="flex-grow-1">
              <span class="fw-medium d-block">{{user?.firstName}} {{user?.lastName}}</span>
              <small class="text-muted">{{user?.email}}</small>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown-divider"></div>
      </li>
      <li class="rightDrop">
        <a class="dropdown-item" routerLink="/userinfo">
          <img src="../../../assets/navIcons/user (5).png" alt="" class="dropImg">
          <span class="align-middle">My Profile</span>
        </a>
      </li>
      <li class="rightDrop">
        <a class="dropdown-item" (click)="Logout()">
          <img src="../../../assets/navIcons/power.png" alt="" class="dropImg">
          <span class="align-middle">Logout</span>
        </a>
      </li>
    </ul>
  </div>

</nav>
