html {
  font-family: "Public Sans", sans-serif;
  background-color: #f5f5f9;
}
body {
  background-color: #f5f5f9;
  color: #697a8d;
  margin: auto;
}
.nav {
  display: inline;
}
#all {
  margin-top: 30px;
  margin: auto; /* Center the div horizontally */
  padding: 20px;
  width: 85%;
  min-height: 80vh; /* Set a minimum height */
  background-color: #ffffff;
  color: #697a8d;
  border: solid 1px #d9dee3;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  overflow-y: hidden; /* Hide the vertical scrollbar */
  overflow-x: hidden; /* Hide the vertical scrollbar */
  box-sizing: border-box; /* Include padding and border in the total width and height */
}

input,
select {
  color: #697a8d;
  font-size: 12px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 6px;
  width: 27%;
  margin-left: 5%; /* Add margin-bottom for the gap */
  margin-bottom: 1%;
}

input:focus,
select:focus {
  outline: none; /* Remove default focus outline */
  border: 1px solid #5f61e6 !important; /* Add custom border */
  box-shadow: 0 0 3px #5f61e6; /* Add glow effect */
}

table {
  color: #697a8d;
  font-size: 12px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding: 6px;
  margin-left: -20px;
  margin-top: 10px;
  width: 103.5%;
  /* margin-left: 20px; */
  border-left: none;
  border-right: none;
}
th {
  font-size: 14px;
  border: 1.5px solid lightgray;
  text-align: center;
  font-weight: 600; /* thinner text */
  padding: 5px;
  border-left: none;
  border-right: none;
}
td {
  padding: 15px;
  border: 1px solid lightgray;
  border-left: none;
  border-right: none;
  padding-left: 20px;
  font-size: 12px;
}
#name {
  font-size: 14px;
  font-weight: bold;
}
p {
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  font-weight: 600;
}

.IN p {
  /*IN PROGGRES*/
  background-color: #e7e7ff !important;
  color: #696cff !important;
}

.COMPLETED p {
  background-color: #e8fadf !important;
  color: #71dd37 !important;
}
.PROPOSED p {
  background-color: #d7f5fc !important;
  color: #03c3ec !important;
}
.ARCHIVED p {
  background-color: #fff2d6 !important;
  color: #ffab00 !important;
}
.LOW p {
  background-color: #d7f5fc !important;
  color: #03c3ec !important;
}
.MEDIUM p {
  background-color: #fce4d7 !important;
  color: #e88932 !important;
}
.HIGH p {
  background-color: #e16a26 !important;
  color: #ffffff !important;
}
