<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <app-project-card class="proj_card" *ngIf="showProjectCard" (closeCard)="handleCloseCard()" (refreshNeeded)="ngOnInit()"></app-project-card>
  <body>
    <div id="all">
      <div class="header">
        <h5>All Projects</h5>
        <div class="page-size-container">
          <select class="page_size" (change)="changePageSize($event)">
            <option value="" selected>Select page size</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
        <br />
        <input
          class="filter"
          type="text"
          placeholder="Search Project"
          [(ngModel)]="projectName"
          (input)="filterProjects(); "
        />
        <input
          class="filter"
          type="text"
          placeholder="Search Project Owner"
        />
        <select class="filter" name="status" id="status" [(ngModel)]="selectedStatus" (change)="filterProjects();">
          <option value="" selected>Select Status</option>
          <option value="PROPOSED">PROPOSED</option>
          <option value="INPROGRESS">IN PROGRESS</option>
          <option value="COMPLETED">COMPLETED</option>
          <option value="ARCHIVED">ARCHIVED</option>
        </select>
        <select class="filter" name="priority" id="priority" [(ngModel)]="selectedPriority" (change)="filterProjects(); ">
          <option value="" selected>Select Priority</option>
          <option value="LOW">LOW</option>
          <option value="MEDIUM">MEDIUM</option>
          <option value="HIGH">HIGH</option>
        </select>

        <select
        class="filter"
          name="date"
          id="date"
          [(ngModel)]="startDateFilter"
          (change)="
            handleStartDateChange($event); filterProjects(); 
          "
        >
          <option value="" selected>Filter by start date</option>
          <option value="Today">Today</option>
          <option value="Yesterday">Yesterday</option>
          <option value="Last 7 days">Last 7 days</option>
          <option value="Last 30 days">Last 30 days</option>
          <option value="This month">This month</option>
          <option value="Last month">Last month</option>
          <option value="This Year">This Year</option>
          <option value="From highest to lowest">From highest to lowest</option>
          <option value="From lowest to highest">From lowest to highest</option>
        </select>

        <select
        class="filter"
          name="date1"
          id="date1"
          [(ngModel)]="endDateFilter"
          (change)="handleEndDateChange($event); filterProjects(); "
        >
          <option value="" selected>Filter by end date</option>
          <option value="Today1">Today</option>
          <option value="Yesterday1">Yesterday</option>
          <option value="Last 7 days1">Last 7 days</option>
          <option value="Last 30 days1">Last 30 days</option>
          <option value="This month1">This month</option>
          <option value="Last month1">Last month</option>
          <option value="This Year1">This Year</option>
          <option value="From highest to lowest1">
            From highest to lowest
          </option>
          <option value="From lowest to highest1">
            From lowest to highest
          </option>
        </select>

        <br />
        <table>
          <tr>
            <th>PROJECT NAME</th>
            <th>PROJECT OWNER</th>
            <th>STATUS</th>
            <th>PRIORITY</th>
            <th>START DATE</th>
            <th>END DATE</th>
          </tr>
          <tr  *ngFor="let project of projects" (click)="goToProject(project.id)">
            <!-- <ng-container *ngIf="isProjectVisible(project)"> -->
            <ng-container>
              <td class="project-name">{{ project.projectName }}</td>
              <td>Project owner name here</td>
              <td [ngClass]="getStatusString(project.projectStatus)">
                <p>{{ getStatusString(project.projectStatus) }}</p>
              </td>
              <td [ngClass]="getPriorityString(project.priority)">
                <p>{{ getPriorityString(project.priority) }}</p>
              </td>
              <td>{{ project.startDate | date }}</td>
              <td>{{ project.endDate | date }}</td>
            </ng-container>
          </tr>
        </table>
    </div>
    <!-- <div id="pages">
      <button *ngIf="this.currentPage!=1" class="navigate" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span id="page">{{ currentPage }}</span> 
      <button *ngIf="currentPage * pageSize < projects.length" class="navigate" (click)="nextPage()" [disabled]="currentPage * pageSize >= projects.length">Next</button>
    </div> -->



<div *ngIf="this.filteredProjects>5" id="pages">
  <ul class="pagination">
    <li class="paginate_buttons previous" [class.disabled]="currentPage === 1">
      <button (click)="prevPage()" [disabled]="currentPage === 1">&laquo;</button>
    </li>
    <li class="paginate_button" *ngFor="let pageNumber of totalPagesArray">
      <button (click)="goToPage(pageNumber)" [class.active]="pageNumber === currentPage">{{ pageNumber }}</button>
    </li>
    <li class="paginate_buttons next" [class.disabled]="currentPage === totalPages">
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">&raquo;</button>
    </li>
  </ul>
</div>



    
    <button class="btn btn-primary btn-sm" (click)="ToggleProjectCard()">+ Add Project</button>
  </body>
</html>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

