* {
    font-family: 'Public Sans', sans-serif !important;
}
.ganntTest {
    margin-top: 50px;
    overflow: visible !important;
    height: 600px;
    margin-left: 0px !important;
    padding-left: 0px !important;
}
/* za tablete */
@media screen and (max-width: 1200px) {
    .button-selectors {
        flex-direction: row;
    }
    .btn-primary {
        margin: 10px !important;
        width: 250px !important;
    }
    .card-header {
        font-size: 20px !important;
    }
}
.project-heading {
    /* text-align: center; */
    padding: 0px !important;
    margin: 0px !important;
    
}
.project-heading > span {
    /* font-weight: bold; */
    font-size: 30px !important;
    letter-spacing: -1px;
    color: #676f79;
    font-weight: 550;
    /* line-height: 1.5; */
}
/* za telefone */
@media screen and (max-width: 500px) { 
    .button-selectors {
        flex-direction: column;
    }
    .btn-primary {
        margin: 10px !important;
        width: 250px !important;
    }
    .card-header {
        font-size: 20px !important;
    }
}
.section {
    margin-bottom: 20px; /* Adjust the space between sections */
    margin-top: 20px
}
.section-name {
    cursor: pointer;
    color: black;
    text-decoration: underline;
    font-size: large;
    line-height: 1.5;
    svg {
        margin-right: 4px;
        
    }
}
/* Assignee temp */

.text-nowrap {
    white-space: nowrap !important;
}
.table-responsive {
    overflow-x: auto;
}
.card .table {
    margin-bottom: 0;
}
thead th{
    border-radius: 0.5rem;
}
.table tbody  {
    padding-bottom: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}
.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}
.table tbody tr:last-child {
    margin-bottom: -30px;
}
/* sklanja border poslednjeg elementa
 .table tbody tr:last-child td {
    border-bottom: none;
} */

.btn-active {
    background-color: #d7d7f8 !important;
    border: 1px solid #d8d8e0;
    border: 0px;
    font-weight: 400;
    /* border: 1px solid #E7E7EE !important; */
}
.btn-inactive {
    background-color: #e7e7ee !important;
    /* background-color: #fff!important; */
    border: 1px solid #d8d8e0;
    border: 0px;
    font-weight: 400;
    /* background-color: #F5F5F9 !important; */
    border: 1px solid #E7E7EE !important;
}
.button-selectors {
    display: flex;
    margin-left: 0px !important;
    padding-left: 0px !important;
    /* margin-bottom: 50px; */
    margin-top: 10px !important;
}
.btn-primary {
    color: #696cff;
    /* background-color: #696cff; */
    border-color: #696cff;
    /* box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12); */
    /* display: inline-flex; */
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-right: 25px;
    line-height: 1.45;
    width: 200px;
    text-align: center;
}
.btn-primary:focus{ color:#696cff }
.bg-label-primary {
    background-color: #e7e7ff !important;
    color: #696cff !important;
}
.badge {
    text-transform: uppercase;
    line-height: 0.75;
    --bs-badge-padding-x: 0.593em;
    --bs-badge-padding-y: 0.52em;
    --bs-badge-font-size: 0.8125em;
    --bs-badge-font-weight: 500;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.25rem;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5rem;
}
.btn-primary svg {
    margin-right: 5px;
    padding-bottom: 2px;
}
.btn-primary .btn-text {
    margin-left: 0px;
}

.content-wrapper {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    /* box-sizing: border-box; */
}
.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: auto;
    color: #697a8d;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid #d9dee3;
    border-radius: 0.5rem;
    padding: 15px;
    margin-top: 50px;
}
/* .table {
    border: 1px solid black;
} */
.table td, th {
    /* border: 1px solid #d9dee3 !important; */
    width: 20%;
}

/* sklanja border za poslednji row svake tabele */
/* .table tbody tr:last-child td, 
.table tbody tr:last-child th {
  border-bottom: none;
} */

[contenteditable] {
    outline: 0px solid transparent;
    border: none;
}

.dates::placeholder {
    color: transparent !important;
}

.dates{
    width: 100%;
    background-color: transparent;
    border: none;
    color: #676f79;
}

.dates:focus {
    outline: none;
    border: none;
}

.sel{
    color: #676f79;
    border: none;
}

.sel:focus{
    outline: none;
    border: none;
}

.btn-outline-info{
    /* margin-top: 0.3rem; */
    padding-top: 0;
    padding-bottom: 0;
    color: #696cff;
    border-color: #696cff;
    margin-left: 0.5rem;
}

.btn-outline-info:focus,.btn-outline-info:hover{
    background-color: #696cff;
    color: white;
}

.project-heading{
    display: inline-flex;
    align-items: center;
}

.nameAvatar {
    display: inline-flex;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
}

.ng-value-label{
    display: inline-flex !important;
    align-items: center !important;
    font-family: 'Public Sans', sans-serif;
    color: #697a8d;
}

.ng-value-label img, .ng-value-label ngx-avatars{
    margin-right: 0.2rem !important;
}

.user-detail{
    display: flex;
    justify-content: space-between;
    font-family: 'Public Sans', sans-serif;
    color: #697a8d;
}

:host::ng-deep .ng-option-marked{
    background-color: #F5F5F9 !important;
}

:host::ng-deep .ng-option-selected{
    background-color: #a8a9f0 !important;
}

:host::ng-deep .ng-option-marked{
    background-color: #9a9cec !important;
    border-top: 0px !important;
}

.ng-value-label.ng-star-inserted{
    padding-left: 3px !important;
}

.ng-value-icon{
    position: relative;
    top: 0.055rem;
    display: inline-flex !important;
    align-items: center;
    border-left: none !important;
    padding-left: 0 !important;
}

.ng-value-icon:hover{
    background-color: transparent !important;
}

:host::ng-deep .ng-value{
    display: inline-flex !important;
    align-items: center !important;
    border-radius: 15px !important;
}

:host::ng-deep .ng-clear .ng-clear-wrapper{
    display: flex !important;
    align-items: center;
}

:host::ng-deep .ng-clear-wrapper{
    top:0.1rem;
    display: flex !important;
    align-items: center;
}

:host::ng-deep .ng-select.ng-select-opened > .ng-select-container{
    border-color: #696cff !important;
}

:host::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container{
    border-color: #696cff !important;
}

.left{
    width: 17rem;
    margin-right: 0;
}

.right1{
    width: 30rem;
}

.right1 textarea{
    height: 75%;
}

.t2{
    margin-top: 0.5rem;
}

.t2 td{
    width: auto;
    vertical-align: middle;
    color: #676f79;
}

.col-4.fw-normal{
    color: #676f79;
}

.seperator{
    margin-bottom: 0 !important;
}

.search{
    width: 12rem;
}

.search:focus{
    box-shadow: none;
}

.assignee{
    width: auto;
    border: none ;
    outline: none;
    color: #697a8d;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: smaller;
    float: right;
}

/* .assignee option{
    background-color: lightgray;
} */

.titleInp{
    font-size: 1.5em;
    font-weight: 400;
    width: 25rem;
    border: none;
    padding-left: 0;
    color: #676f79;
}

.titleInp:focus {
    box-shadow: none;
}

.modal-container{
    color: #676f79;
}

.description{
    color: #676f79;
}

.deleteMember{
    cursor: pointer;
}
.close{
    border: none;
    background-color: white
}

:disabled {
    opacity: 1;
    background-color: white;
}

select:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
}

textarea:disabled {
    border: none;
    padding-left: 0;
    resize: none;
}

textarea:focus{
    border-color: #696cff !important;
    box-shadow: none;
}
