* {
    font-family: 'Public Sans', sans-serif !important;
}
.ganttComponent {
    margin-top: 20px;
    overflow: visible !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
}
/* za tablete */
@media screen and (max-width: 1200px) {
    .button-selectors {
        flex-direction: row;
    }
    .btn-primary {
        margin: 10px !important;
        width: 250px !important;
    }
    .card-header {
        font-size: 20px !important;
    }
}
.project-heading {
    /* text-align: center; */
    padding: 0px !important;
    margin: 0px !important;
    
}
.projName > span {
    /* font-weight: bold; */
    font-size: 30px !important;
    letter-spacing: -1px;
    color: #676f79;
    font-weight: 550;
    /* line-height: 1.5; */
}
/* za telefone */
@media screen and (max-width: 500px) { 
    .button-selectors {
        flex-direction: column;
    }
    .btn-primary {
        margin: 10px !important;
        width: 250px !important;
    }
    .card-header {
        font-size: 20px !important;
    }
}
.section {
    margin-bottom: 20px; /* Adjust the space between sections */
    margin-top: 20px
}
.section-name {
    cursor: pointer;
    color: black;
    text-decoration: underline;
    font-size: large;
    line-height: 1.5;
    svg {
        margin-right: 4px;
        
    }
}
/* Assignee temp */

.text-nowrap {
    white-space: nowrap !important;
}
.table-responsive {
    overflow-x: auto;
}
.card .table {
    margin-bottom: 0;
}
thead th{
    border-radius: 0.5rem;
}
.table tbody  {
    padding-bottom: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}
.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}
.table tbody tr:last-child {
    margin-bottom: -30px;
}
/* sklanja border poslednjeg elementa
 .table tbody tr:last-child td {
    border-bottom: none;
} */

.btn-active {
    background-color: #d7d7f8 !important;
    border: 1px solid #d8d8e0;
    border: 0px;
    font-weight: 400;
    color: #696cff;
    /* border: 1px solid #E7E7EE !important; */
}
.btn-inactive {
    background-color: #e7e7ee !important;
    /* background-color: #fff!important; */
    border: 1px solid #d8d8e0;
    border: 0px;
    font-weight: 400;
    color: #696cff;
    /* background-color: #F5F5F9 !important; */
    border: 1px solid #E7E7EE !important;
}

.btn-primary {
    /* color: #696cff; */
    background-color: #696cff;
    border-color: #696cff;
    /* box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12); */
    /* display: inline-flex; */
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-right: 25px;
    line-height: 1.45;
    width: 200px;
    text-align: center;
}
.btn-primary:focus{ color:#696cff }
.bg-label-primary {
    background-color: #e7e7ff !important;
    color: #696cff !important;
}
.badge {
    text-transform: uppercase;
    line-height: 0.75;
    --bs-badge-padding-x: 0.593em;
    --bs-badge-padding-y: 0.52em;
    --bs-badge-font-size: 0.8125em;
    --bs-badge-font-weight: 500;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.25rem;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5rem;
}
.btn-primary svg {
    margin-right: 5px;
    padding-bottom: 2px;
}
.btn-primary .btn-text {
    margin-left: 0px;
}

.content-wrapper {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    /* flex-direction: column; */
    justify-content: space-between;
    box-sizing: border-box;
}
.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: auto;
    color: #697a8d;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid #d9dee3;
    border-radius: 0.5rem;
    padding: 15px;
    margin-top: 20px;
}
/* .table {
    border: 1px solid black;
} */
.table td, th {
    /* border: 1px solid #d9dee3 !important; */
    width: 20%;
}

/* sklanja border za poslednji row svake tabele */
/* .table tbody tr:last-child td, 
.table tbody tr:last-child th {
  border-bottom: none;
} */

.editName{
    width: 100%;
    padding: 0 !important;
    border: none !important;
}
.pancil{
    color: #676f79;
    padding: 0.4rem !important;
    margin-right: 0.2rem;
    cursor: pointer;
}
.dates::placeholder {color: transparent !important;}
.endDate{
    width: 7.2rem;
    background-color: transparent;
    border: none;
    color: #676f79;
}
.endDate:focus {
    outline: none;
    border: none;
}
.startDate{width: 6.79rem;}
.selectElements{
    border-radius: 10px;
    color: #676f79;
    border: none;
    text-align: center;
    padding: 0.1rem;
}
.selectElements:focus{
    outline: none;
    border: none;
}
.selectElements:disabled{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.project-heading{
    display: inline-flex;
    align-items: center;
}
.btn-outline-info{
    height: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    color: #696cff;
    border-color: #696cff;
    margin-left: 0.5rem;
}
.btn-outline-info:focus,.btn-outline-info:hover{
    background-color: #696cff;
    color: white;
}
/* ----- */
.titleInp{
    font-size: 1.5em;
    font-weight: 400;
    border: none;
    padding-left: 0;
    padding-right: 0;
    color: #676f79;
}
.titleInp:focus {
    box-shadow: none;
}
.modal-container{color: #676f79;}
.deleteMember{
    padding: 0 0.32rem 0 0.32rem;
    cursor: pointer;
    background-color: rgb(215, 52, 52);
    color: white;
    border-radius: 100rem;
    transition: background-color 0.3s ease;
}
.deleteMember:hover{
    background-color: rgb(175, 30, 30);
}
.close{
    border: none;
    background-color: white
}
:disabled {
    opacity: 1;
    background-color: white;
    border: none;
}
select:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    padding:0;
}
textarea{
    color: #697a8d;
    border-radius: 0;
    border-top: 1px solid;
    border-color: #dcdbdb;
}
textarea:disabled {
    border-top: 1px solid #dcdbdb;
    resize: none;
}
textarea:focus{
    box-shadow: none;
    border-color: #696cff;
    color: #697a8d;
}
.details h5{
    border-bottom: 1px solid  #dcdbdb;
    padding-left: 0.7rem;
    padding-bottom: 0.2rem;
}
.info{
    padding: 0 0.7rem 0.5rem 0.7rem;
}
.info label{
    font-weight: 600;
    color: #676f79;
    margin-right: 0.5rem;
}
.info dl{
    justify-content: center;
}
.description h5{
    padding-left: 0.7rem;
    margin-bottom: 0.2rem;
}
.COMPLETED{
    background-color: #e8fadf !important;
    color: #71dd37 !important;
}
.PROPOSED{
    background-color: #d7f5fc !important;
    color: #03c3ec !important;
}
.ARCHIVED{
    background-color: #fff2d6 !important;
    color: #ffab00 !important;
}
.INPROGRESS{
    background-color: #e7e7ff !important;
    color: #696cff !important;
}
.DEFAULT_STAT{
    background-color: white;
    color: #697a8d;
}
.LOW{
    background-color: #d7f5fc !important;
    color: #03c3ec !important;
}
.MEDIUM{
    background-color: #fce4d7 !important;
    color: #e88932 !important;
}
.HIGH{
    background-color: #e16a26 !important;
    color: #ffffff !important;
}
.DEFAULT_PRI{
    background-color: white;
    color: #697a8d;
}

/* Member Managment */

.modal-header h4{
    color: black;
    margin-bottom: 0.3125rem;
}
.btn-close{
    color: #676f79;
    box-shadow: none;
}
.new-item {
    margin: 10px !important;
    margin-left: 10px !important;
    cursor: pointer;
    width: auto;
    border-radius: 0.3rem;
    border-bottom: 2px solid #D7D7F8;
}
.new-item:hover {
    border-bottom: 2px solid #696cff;
}
.members h5{
    font-weight: 400;
    padding-bottom: 0.2rem;
    color: #212529;  
}
.search{
    border-radius: 0%;
}
.search:focus{
    box-shadow: none;
    outline: none;
    border-color: #696cff;
}
.assignee{
    width: 7rem;
    border-color: #d7d7f8 ;
    outline: none;
    color: #697a8d;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: smaller;
}
.add{
    width: 100%;
    height: auto;
    background-color: #696cff;
    border-radius: 4px;
    padding: 0.3rem 0 0.3rem 0;
    margin-bottom: 0.4rem !important;
    margin-top:  0.8rem !important;
}
.add:disabled{
    border: 0.835px solid #696cff !important;
    opacity: 70%;
}
.add:focus{
    color: white !important;
}
.add:hover{
    background-color: #5f61e6;
}
.addmembers h5{
    font-weight: 400;
    padding-bottom: 0.2rem;
    color: #212529;
}
.t2{
    border-left: 1px solid inherit;
    border-right: 1px solid inherit;
}
.t2 td{
    width: 9rem;
    vertical-align: bottom;
    color: #676f79;
}
.t2 tr td:first-child{
    width: 11rem !important;
}
.t2 .isPM{
    font-size: smaller;
    color: #697a8d;
    padding-right: 0.3rem;
}
.tableHeaders{
    color: #676f79;
    font-weight: 600;
    margin-top: 0.6rem;
    padding-left: 0.6rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #D7D7F8;
}
.tableHeaders span:last-child{
    text-align: center;
    margin-right: 0;
}
.tableHeaders span:first-child{
    width: 11.5rem !important;
}
.tableHeaders span{
    width: 9.6rem;
}
.scroll{
    overflow-y: auto;
    height: 8.7rem;
    max-height: 8.7rem;
}

.nameAvatar {
    display: inline-flex;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
}
.ng-value-label{
    vertical-align: middle;
    font-family: 'Public Sans', sans-serif;
    color: #697a8d;
}
.ng-value-label img, .ng-value-label ngx-avatars{
    margin-right: 0.2rem !important;
}
.user-detail{
    display: flex;
    justify-content: space-between;
    font-family: 'Public Sans', sans-serif;
    color: #697a8d;
}
.ng-value-container{
    display: inline-flex !important;
    align-items: center;
    padding-left: 2px !important;
    padding-top: 2px !important;
}
.ng-value-label{
    font-size: 14px !important;
    padding-left: 1px !important;
}
.ng-value-icon{
    position: relative;
    top: 0.06rem;
    border-left: none !important;
    padding-left: 0 !important;
}
.ng-value-icon:hover{
    background-color: transparent !important;
    color: black;
}

.td_row td:first-child:hover,
.td_row td:first-child.clicked {
    cursor: pointer;
    color: #484ac5 !important;
    border-bottom: 1px solid #696cff;
}

.button-selectors .btn-lg {
    width: 135px !important;
    margin-right: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Optional: aligns items vertically in the center */
}
.mngMembers {
    margin: 10px !important;
    cursor: pointer;
    width: 160px;
    border-radius: 0.3rem;
    border-bottom: 2px solid #D7D7F8;
}
.mngMembers:hover {
    border-bottom: 2px solid #696cff;
}
.archTasks {
    margin: 10px !important;
    cursor: pointer;
    width: 185px;
    border-radius: 0.3rem;
    border-bottom: 2px solid #D7D7F8;
}
.archTasks:hover {
    border-bottom: 2px solid #696cff;
}
.archTasks svg {
    margin-right: 2px;
}
.mngSection svg {
    margin-right: 2px;
}
.mngSection:hover {
    border-bottom: 2px solid #696cff;
}
.addTask {
    width: 90px !important;
}
.addBoard {
    width: 100px !important;
}
.mngSection {
    margin: 10px !important;
    cursor: pointer;
    width: 150px;
    border-radius: 0.3rem;
    border-bottom: 2px solid #D7D7F8;
}
.button-selectors {
    display: flex;
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-top: 10px !important;
    display: flex;
    align-items: center;
}

.viewButtons {
    flex-shrink: 0; /* Ensures that viewButtons only take up necessary space */
}
.actionLinks {
    display: flex;
    flex-direction: row;  /* Ensures horizontal layout */
    justify-content: flex-end;
    flex-grow: 1;
}

.projInfo button {
    margin-right: 100px !important;
}
.noArch {
    margin: 15px !important;
    font-size: 20px;
}
.archBtn {
    margin-top: 20px;
}

.archBtn:hover {
    color: #fff !important;
    transform: translateY(-1px) !important;
}
.btn-save-task {
    margin-top: 15px;
}
.btn-save-task:hover {
    color: #fff !important;
    transform: translateY(-1px) !important;
}
.archTable td, th{
    border-bottom: 1px solid #d9dee3 !important;
    padding: 5px;
}
.tdName {
    width: 35% !important;
}
.tdAssignee {
    width: 25% !important;
}
.tdDate {
    width: 20% !important;
}
.tdCheck {
    width: 10% !important;
}
.form-control {
    display: inline;
    width: 100%;
    padding: 0.4375rem 0.875rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9dee3;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    border-color: #5f61e6 !important;
    box-shadow: 0 0 2px #5f61e6;
}
.avatar .rounded-circle .shadow-4-strong {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;;
}
.nameAvatar img {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    vertical-align: middle !important; /* Aligns the image baseline to the middle */
}
.tProjectSection {
    margin-top: 20px;
}
.section-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tSection-name {
    flex-grow: 1;
}

.tSection-delete {
    flex-basis: auto;
}