<nav class="layout-navbar navbar navbar-expand-md align-items-center bg-navbar-theme navLanding" id="layout-navbar">
    <div class="navbar-brand">
        <img src="../../../assets/navIcons/logo.png" alt="" class="logoImg d-none d-xl-block d-l-block" />
    </div>
    <div class="login">
        <button class="btn btn-primary btn-lg loginBtn" (click)="navigateToLogin()">
            Log In
        </button>
    </div>
</nav>
<div class="container">
    <div class="leftHalf">
        <div class="hero">
            <div class="big">
                Our app brings all your tasks, teammates, and tools together
            </div>
            <div class="small">
                Keep everything in the same place—even if your team isn’t.
            </div>
        </div>
        <div class="inviteDiv">
            <div class="inviteText">
                <span>Interested in our app?</span>
                <div class="inputBox">
                    <input class="inviteInput" type="text" placeholder="Enter your e-mail">
                    <button class="btn btn-primary btn-lg bookBtn">Book a Demo</button>
                </div>
            </div>
            <div class="inviteImg">
                <img src="../../../assets/_images/Saly-43.png" alt="rocket">
            </div>
        </div>
    </div>
    <div class="rightHalf">
        <img src="../../../assets/_images/Saly-38.png" alt="landingImage">
    </div>
</div>
  