<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 1440 560">
    <g mask="url(&quot;#SvgjsMask1078&quot;)" fill="none">
        <path d="M879 494L878 914" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M1202 386L1201 760" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M199 364L198 139" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M386 106L385 -220" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M871 238L870 97" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M149 3L148 -210" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M552 286L551 -131" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M1162 521L1161 132" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M341 155L340 326" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M474 381L473 -28" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M1134 353L1133 749" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M1175 511L1174 926" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M8 175L7 351" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M636 141L635 531" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M367 257L366 114" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M1143 398L1142 13" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M314 194L313 -214" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M1030 314L1029 52" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M901 19L900 427" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M551 471L550 200" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M435 132L434 485" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M384 170L383 -208" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M650 504L649 696" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M261 112L260 421" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M1093 52L1092 304" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M91 149L90 355" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M1397 383L1396 694" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M485 159L484 446" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M389 444L388 779" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M1044 371L1043 718" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M1259 557L1258 815" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M539 145L538 -66" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M743 514L742 244" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M514 374L513 30" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
        <path d="M917 451L916 259" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1080&quot;)" stroke-linecap="round" class="Up"></path>
        <path d="M392 448L391 627" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1079&quot;)" stroke-linecap="round" class="Down"></path>
    </g>
    <defs>
        <mask id="SvgjsMask1078">
            <rect width="1440" height="560" fill="#ffffff"></rect>
        </mask>
        <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="SvgjsLinearGradient1079">
            <stop stop-color="rgba(105, 108, 255, 0)" offset="0"></stop>
            <stop stop-color="rgba(105, 108, 255, 1)" offset="1"></stop>
        </linearGradient>
        <linearGradient x1="0%" y1="100%" x2="0%" y2="0%" id="SvgjsLinearGradient1080">
            <stop stop-color="rgba(105, 108, 255, 0)" offset="0"></stop>
            <stop stop-color="rgba(105, 108, 255, 1)" offset="1"></stop>
        </linearGradient>
    </defs>
</svg>