.left {
    background-color: white; /* Postavljanje bijele pozadine */
    padding: 20px; /* Dodavanje prostora oko sadržaja unutar diva */
    width: 300px; /* Postavljanje fiksne širine diva */
    position: absolute; /* Postavljanje apsolutne pozicije */
    top: 76px; /* Visina <app-nav> komponente */
    left: 3%; /* Poravnavanje na lijevu stranu */
    border-radius: 10px;
}

/* Prilagođavanje stila na manjim ekranima */
@media (max-width: 768px) {
    .left {
        width: 100%; /* Širina se postavlja na 100% za manje ekrane */
        padding: 10px; /* Manji padding za manje ekrane */
        top: 56px; /* Visina <app-nav> komponente */
        left: 0; /* Poravnavanje na lijevu stranu */
    }
}


.background-radial-gradient.overflow-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%
      ),
      radial-gradient(
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%
      );
  }
