
body {
  background-color: #f5f5f9;
  color: #697a8d;
  margin: auto;
}
#all {
  margin-top: 30px;
  margin: auto;
  padding: 20px;
  width: 85%;
  min-height: 10vh;
  background-color: #ffffff;
  color: #697a8d;

  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  overflow-y: hidden;
  overflow-x: hidden;

}
table {
  color: #697a8d;
  font-size: 12px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  /* padding: 6px; */
  /* margin-left: -20px; */
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  /* margin-left: 20px; */
  border-left: none;
  border-right: none;
}
#tableIcon{
  width: 20px;
}
@media (max-width: 1200px) {
  td {
    padding: 2px;
  }
}
th {
  font-size: 14px;
  border: 1.5px solid lightgray;
  font-weight: 700; /* thinner text */
  padding-left: 5px;
  border-left: none;
  border-right: none;
  color: #697a8d;
}
td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border: 1px solid lightgray;
  border-left: none;
  border-right: none;
  font-size: 12px;
  color: #697a8d;
}
td{
  color: #697a8d;
}
#name {
  font-size: 14px;
  font-weight: bold;
}
p {
  text-align: center;
  padding: 2px;
  border-radius: 8px;
  font-weight: 600;
}

.invite {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.inputEmail{
  display: flex;
  align-items: baseline;
  width: 30%;
  margin-right: 0px !important;

  justify-content: space-between;
}

.inputEmail input {
  width: 60%;
}
.inputEmail btn{
  flex: 1;

}
.leftInvite{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: baseline;
}


#button-addon2{
  background-color: #5d57c2;
  border-color: #5d57c2;
}
.btn btn-primary{
  background-color: #705ab8;
}
.dropdown-menu pop
{
  background-color: #ffffff;
  color: #697a8d;
  border: solid 1px #d9dee3;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  width: 40%;
  height: auto
}
.update{
  margin: 10px;
}
.span-dropdown-item{
  float: center;
  color: #565f6a;
  margin-bottom: 15px;
}
.form-label{
  color: #697a8d;
  font-size: small;
}
.btn-primary {
  color: #fff;
  background-color: #696cff;
  border-color: #696cff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #5f61e6 !important;
  border-color: #5f61e6 !important;
  transform: translateY(-1px) !important;
}
.avatar{
  padding-left: 0px;
  width: 35px;
  height: 35px;
}
.paginate_button page-item active{
  background-color: #5f61e6;
  color: #5f61e6;
}
.card{
  position: static;
}

.col-sm-12.col-md-6 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.col-sm-12.col-md-6 .dataTables_paginate {
  width: 100%;
}

.col-sm-12.col-md-6 .dataTables_paginate .pagination {
  justify-content: flex-end;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #697a8d;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

select:focus {
  outline: none;
  border-color: #5f61e6;
}

select:hover {
  border-color: #5f61e6;

}
select:active{
  background-color: #5d57c2;
}
.card{
  --bs-card-border-width: 0px;
  --bs-card-cap-bg: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  margin-right: 0px;
  width: 30%;
  color: #697a8d;
}
.card-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;

}
.card:hover{
  outline: none;
  border: 1px solid #5f61e6 !important;
  box-shadow: 0 0 3px #5f61e6;
  /* background-color: #6b6caf; */
}
.avatar avatar-sm me-2{
  padding: 0px;
  margin-right: 0% !important;
  width: 35px;
}
.me-1{
  margin-right: .0rem !important;
}

.pics{
  display: flex;
  padding-right: 0px;
  /* padding-right: 0px; */
}
.btn-primary2{
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  border-width: 0px;
}
.d-flex flex-column{
  margin-left: 5px;
}
.filter{
  color: #697a8d;
  font-size: 12px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  padding: 6px;
  margin-left: 5%;
  margin-bottom: 1%;
  width: 60%;
}

.form-control:hover {
  outline: none;
  border: 1px solid #5f61e6 !important;
  box-shadow: 0 0 3px #5f61e6;
}
.form-control:focus {
  outline: none;
  border: 1px solid #5f61e6 !important;
  box-shadow: 0 0 3px #5f61e6;
}
.page_size {
  color: #5e6165;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  padding: 6px;
  width: 40%;
  height: 37px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 10px;
}
.page_size:hover{
  outline: none;
  border: 1px solid #5f61e6 !important;
  box-shadow: 0 0 3px #5f61e6;
}
.clickable-div:active {
  background-color: #5d57c2; /* Change this to the color you want */
}
.clickable-div:focus {
  background-color: #d0cdff; 
}