body {
  height:120vh;
  font-family: "Public Sans", sans-serif;
  background-color: #FFFFFF;
  color: #566A7F;
  margin:auto;
  width: 800px;

}
p{
  padding: 0px;
  margin: 0px;
}
input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 5px;
  height: 30px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 8px;
}
button {
  border: solid #286b60 2px;
  border-radius: 8px;
  background-color: #70c1b3; /* Aqua background color for button */
  font-size: 18px;
  padding: 8px 16px; /* Increased padding for better appearance */
  font-weight: bold; /* Making the font weight bold */
  transition: background-color 0.3s ease, color 0.3s ease; /* Adding transition effect */
}
button:hover {
  background-color: #286b60; /* Coral color for button background on hover */
  border: solid #70c1b3 2px;
}

#container{/* main div */
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 200px;
}

.info{
  width:100%;
  height: 290px;
  background-color: #FFFFFF;
}
.update{/*div for updating password*/
  position: relative;
  top: 100px;
  padding: 10px;
  display: block;
  width:100%;
  height: fit-content;
  background-color: #FFFFFF;
}
.image{
  width: 160px;
  height: 160px;
  margin-right: 10px;
}
#imageUser{
  display: inline-flex;
  float: left;
  width: 50%;
  height: 300px;

  font-size: 150%;
  font-weight: 500;
}
#details{
  float: left;
  width: 50%;
  height: 100px;
}
#uploadButton{
  position: relative;
  top: 60px;
  right: 400px;
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: small;
}
