<head>
  <title>USER INFO PAGE</title>
</head>
<body class="mainbg">
  <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
      <a class="btn btn-primary btn-block mb-4" (click)="onClickHome()"> Home </a>
      <a class="btn btn-primary btn-block mb-4" (click)="onClickUser()"> User info </a>
  </div>
  <div id="radius-shape-1"
  class="position-absolute rounded-circle shadow-5-strong">
    <div id="maindiv" *ngIf="userInfo" class="form-outline mb-4">
      <h2 style="color: hsl(218, 81%, 95%)">Account info</h2>
      <p style="color: hsl(218, 81%, 95%)">First name: {{userInfo.firstName}}</p><br>
      <p style="color: hsl(218, 81%, 95%)">Last name: {{userInfo.lastName}}</p><br>
      <p style="color: hsl(218, 81%, 95%)">Email: {{userInfo.email}}</p><br>
      <button class="btn btn-primary btn-block mb-4" (click)="change_info()">Change Info</button>
    </div>
    <div class="update" id="update">
      <form (ngSubmit)="apply_changes()"><br>
        <input name="fname" type="text" placeholder="new first name" [(ngModel)]="newData.FirstName"/><br>
        <input name="lname" type="text" placeholder="new last name" [(ngModel)]="newData.LastName"/><br>
        <input name="email" type="text" placeholder="new email address" [(ngModel)]="newData.Email"/><br>
        <input name="oldpass" type="password" placeholder="verify old password(*)" [(ngModel)]="newData.CurrentPassword"/><br>
        <input name="newpass" type="password" placeholder="new password" [(ngModel)]="newData.NewPassword"/><br>
        <input name="confirmnewpass" type="password" placeholder="confirm new password" [(ngModel)]="newData.NewPasswordConfirm"/><br>
        <button  class="btn btn-primary btn-block mb-4" type="submit">Apply changes</button>
      </form>
      <p id="warning" style="color: red;"></p><!--da li da se koristi ovo ili alert-ovi-->
    </div>
  </div>
</body>
