<head>
  <title>USER INFO PAGE</title>
</head>
<body >
  <app-nav></app-nav>
  <div id="container">
    <div class="info" *ngIf="userInfo">
      <div id="imageUser">
        <img [src]="url" class="image">
        <span>{{userInfo.firstName}} {{userInfo.lastName}}</span>
        <input id="inp" type="file" style="display: none;" (change)="imageSelected($event)">
      </div>
      <div id="details">
        <h4>Details</h4>
        <p>First name: {{userInfo.firstName}}</p><br>
        <p>Last name: {{userInfo.lastName}}</p><br>
        <p>Email: {{userInfo.email}}</p><br>
        <p>Role: {{userInfo.role}}</p><br>
      </div>
      <button id="uploadButton" (click)="onClickUpload()">Change</button>
      <button id="uploadButton" (click)="RemoveImage()">Remove</button>
      <div id="clear"></div>
    </div>
    <div class="update" id="update">
      <h4>Change Password</h4>
      <form (ngSubmit)="apply_changes()"><br>
        <label for="password1">Current Password</label>
        <input id="password1"name="oldpass" type="password" placeholder="required*" [(ngModel)]="newData.CurrentPassword" required/><br>
        <label for="password2">New Password</label>
        <input  id="password2" name="newpass" type="password" placeholder="" [(ngModel)]="newData.NewPassword"/><br>
        <label for="password3">Confirm New Password</label>
        <input  id="password3" name="confirmnewpass" type="password" placeholder="" [(ngModel)]="newData.NewPasswordConfirm"/><br>
        <button type="submit">Apply changes</button>
      </form>
    </div>
  </div>
</body>
