/*
background color #FFFFFF
text color #566A7F -> most of big text
button color: #696CFF
smaller text color : #697A8D
font: Public Sans

Change password textbox color: #FFAB00
Password changed successfully color #83EDA1
Change photo must have a hover over the image as an interactable...
*/
body{
  width:60%;
  margin: auto;
  color: #697A8D;
  background-color: #f5f5f9;
  font-family: "Public Sans" sans-serif;
}
h4{
  color: #566A7F;
}
p{
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: small;
}
button{
  background-color: #696CFF;
  color: #FFFFFF;
  width: 40%;
  height: 40px;
  border-radius: 6px;
  border: none;
}
#container{
  margin-top: 7%;
  width: 100%;
}
#User_banner{
  width: 50%;
  float: left;
}
#Role_name{
  display: inline-block;
  vertical-align: top;
}
#role{
  text-transform: uppercase;
  background-color: #EBEEF0;
  border-radius: 6px;
  padding: 2px;
  font-size: small;
  font-weight: 600;
}
#name{
  font-size: 120%;
  font-weight: 600;
}
#Image_container{
  position: relative;
  width: 130px;
}
#Profile_image{
  width: 130px;
  height: 130px;
  border-radius: 6px;
  display: inline;
}
#Profile_image:hover{
  opacity: 70%;
}
#Overlay_image{
  position: absolute;
  display: flex;
  width: 130px;
  height: 130px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;
}
#Overlay_image:hover{
  opacity: 40%;
}
#User_info{
  float: right;
  width: 50%;
}
#User_details{
  font-weight: 400;
}
#Account_info{
  height: 250px;
}
#Change_alert{
  border-radius: 6px;
  padding: 20px;
  color: #FFAB00;
  background-color:#FFF2D6;
}
#Change_password{
  background-color: #FFFFFF;
  border-color: solid #d9dee3;
  border-width: 0;
  border-radius: 15px;
  padding: 30px;
  margin-top: 30px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
}
#wrap{
  background-color: #FFFFFF;
  border-radius: 15px;
  border-color: solid #d9dee3;
  padding: 30px;
  border-width: 0;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
}
#Inputs{
  padding-top: 20px;
  width: 50%;
  margin: auto;
}
#clear{
  clear: both;
}
#successtext{
  display: none;
}
input[type="password"]{
  border: 1px solid #D9DEE3;
  border-radius: 6px;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
}
input:focus{
  outline: 1px solid #D9DEE3;
}
#tasks_done{
  display: inline-block;
}
