<div class="container mt-4">
  <div class="row">
      <div class="btn-group" role="group" aria-label="View Buttons">
          <button *ngFor="let view of views" [class.active]="view.value === selectedViewType"  type="button" class="btn btn-outline-secondary btn-sm" (click)="selectView(view.value)">
              {{ view.name }}
          </button>
          <button type="button" class="btn" style="background-color: #d7d7f8; width: 100px; color: #696cff; font-weight: 400;" (click)="goToToday()">
              Scroll to today
          </button>
      </div>
      <div class="col-12">
          <div class="table-responsive" style="height: 70vh;">
              <ngx-gantt #gantt *ngIf="data_loaded" [items]="items" [groups]="groups" [viewType]="viewType" [draggable]="true" [linkable]="true" [selectable]="true" [multiple]="true"
                    [viewOptions]="viewOptions" [toolbarOptions]="toolbarOptions" [loading]="loading" [virtualScrollEnabled]="true" (barClick)="barClick($event)" (viewChange)="viewChange($event)"
                    (lineClick)="lineClick($event,removalModal)" (dragMoved)="dragMoved($event)" (dragEnded)="dragEnded($event)" (selectedChange)="selectedChange($event)" (linkDragEnded)="linkDragEnded($event)">
                  <ngx-gantt-table [draggable]="true" (dragDropped)="onDragDropped($event)" (dragStarted)="onDragStarted($event)" (dragEnded)="onDragEnded($event)">
                  <ng-template #group let-group="group" let-items="items">
                      <span class="text-primary">{{ group.title }} </span>
                  </ng-template>
                      <ngx-gantt-column name="Title" width="150px">
                          <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
                      </ngx-gantt-column>
                      <ngx-gantt-column name="Start Time" width="130px">
                          <ng-template #cell let-item="item">
                              {{ item.start * 1000 | date : 'yyyy-MM-dd' }}
                          </ng-template>
                      </ngx-gantt-column>
                      <ngx-gantt-column name="End Time" width="130px">
                          <ng-template #cell let-item="item">
                              {{ item.end * 1000 | date : 'yyyy-MM-dd' }}
                          </ng-template>
                      </ngx-gantt-column>
                  </ngx-gantt-table>
                  <ng-template #bar let-item="item">
                    <div  class="gantt-bar-content" style="background: rgb(102, 152, 255);" (click)="onTaskClick($event,item.id)">
                      <span style="color: #fff;">&nbsp;&nbsp;{{ item.title }} </span>
                      </div>
                  </ng-template>
              </ngx-gantt>
          </div>
      </div>
  </div>
</div>

<ng-template #removalModal class="modal-nody" style="padding:0;">
    <div class="card">
      <div class="card-header tRemoveModalHeader"><h4 style="font-size: 20px;">Remove task dependency?</h4></div>
      <div class="card-body tRemoveButtons" style="align-items: center; display: flex; gap: 5px;justify-content: center;">
        <div>
          <button class="btn btn-primary btn-0" (click)="removeModalRef?.hide()">Cancel</button>
        </div>
        <div>
          <button class="btn btn-primary btn-0" (click)="this.removeDependencyGantt()" >Remove</button>
        </div>
      </div>
    </div>
  </ng-template>
