* {
    font-family: 'Public Sans', sans-serif;
    max-width: 1550px;
}
.btn-0{/*dugme na remove modalu*/
    color: #696cff;
}
.btn-sm {
    border-color: #e7e7ee !important;
    font-size: 16px !important;
}
.btn:hover, btn-outline-secondary:hover, btn-sm:hover {
    background-color: #d7d7f8 !important;
    color: #696cff;
}
.active {
    background-color: #d7d7f8 !important;
    color: #696cff;
}
.mt-4 {
    margin-left: 0px !important;
    padding-left: 0px !important;
}
.row {
    padding-left: 0px !important;
}

.btn, btn-outline-secondary, btn-sm {
    background-color: #fff;
}