/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Public Sans', sans-serif;
  background-color: var(--background-color);
}

:root {
  --background-color: #f5f5f9;
  --card-color: #fff;
  --text-color: #697a8d;
  --normal-purple: #696cff;
  --dark-purple: #5f61e6;
  --btn-text: #fff;
  --btn-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
  --card-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  --card-border: solid #d9dee3;
  --disabled-input: #f6f5f8;
  --warning-div: #fff2d6;
  --warning-div-text: #ffab00;
  --success-background-color: #83EDA1;
  --success-text-color: #11441f;
}

[data-theme="dark"] {
  --background-color: #232333;
  --card-color: #2b2c40;
  --text-color: #a7a7b8;
  --normal-purple: #696cff;
  --dark-purple: #5f61e6;
  --btn-text: #fff;
  --btn-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
  --card-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  --card-border: solid #d9dee3;
  --disabled-input: #4d4d64;
  --warning-div: #4d4036;
  --warning-div-text: #f9a702;
  --success-background-color: #5ead75;
  --success-text-color: #11441f;
}

.form-label {
  color: var(--text-color);
  font-size: 0.8rem;
  letter-spacing: inherit;
  text-transform: uppercase;
}

.card {
  background-color: var(--card-color);
  color: var(--text-color);
  border-color: var(--card-border);
  box-shadow: var(--card-shadow);
  border-width: 0;
}
.form-control {
  display: inline;
  width: 100%;
  padding: 0.4375rem 0.875rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.53;
  color: var(--text-color);
  appearance: none;
  background-color: var(--card-color);
  background-clip: padding-box;
  border: 1px var(--card-border);
  border-radius: 0.375rem;
  /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}
.form-control::placeholder {
  color: var(--text-color);
}
.form-control:disabled {
  background-color: var(--disabled-input);
}
.form-control:disabled:hover {
  background-color: var(--disabled-input);
  border: 1px var(--card-border) !important;
}
.form-control:focus {
  background-color: var(--card-color);
  border-color: var(--dark-purple) !important;
  box-shadow: none !important;
  color: var(--text-color);
}
.form-control:hover {
  border-color: var(--dark-purple) !important;
}
.btn-primary {
  margin-top: 2%;
  color: var(--btn-text);
  background-color: var(--normal-purple);
  border-color: var(--normal-purple);
  box-shadow: var(--btn-shadow);
}
.btn-primary:hover {
  color: var(--btn-text) !important;
  background-color: var(--dark-purple) !important;
  border-color: var(--dark-purple) !important;
  transform: translateY(-1px) !important;
}
.btn-primary:focus {
  color: var(--btn-text) !important;
  background-color: var(--dark-purple) !important;
  border-color: var(--dark-purple) !important;
}
.btn-primary:disabled {
  background-color: var(--normal-purple);
  border-color: var(--normal-purple);
}
a {
  color: var(--normal-purple);
}
.container-xxl {
  max-width: 1550px !important;
  background-color: var(--background-color);
}

/* ne diraj ove 2 klase!!! */
.toast-bottom-right {
  font-family: 'Public Sans', sans-serif !important;
}
.toast-error {
  background-color: #696cff;
  border-radius: 0.375rem;
}
.toast-success {
  background-color: #696cff;
  border-radius: 0.375rem;
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* modal na kanbanu ; jedino ovde hoce da ga overwrite */
.modal-content {
  background-color: var(--card-color);
  color: var(--text-color);
  border: 0px !important;
}
.modal-body {
  background-color: var(--card-color);
  color: var(--text-color);
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.modal-header {
  background-color: var(--card-color);
  color: var(--text-color);
  padding-top: 5px;
  padding-bottom: 1px;
}
.modal-footer {
  background-color: var(--card-color);
  color: var(--text-color);
}
.modal-header svg {
  color: var(--text-color) !important;
  fill: var(--text-color) !important;
  cursor: pointer;
}
.MemberManagmentModel{
  height: auto;
}
.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border: 1px solid #ccc !important;
  box-shadow: none !important;
}
.ng-input > input {color: #697a8d !important;}

/* Rich text editor */
.hide-toolbar .ql-toolbar  {
  display: none;
}
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-fill
{
  fill: #696cff !important;
}
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke
{
  stroke: #696cff !important;
}
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-item:hover{
  color: #696cff !important;
}
.area-desc .ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid #dcdbdb !important;
}
.area-desc .ql-container.ql-snow {
  font-size: 16px !important;
  font-family: 'Public Sans', sans-serif !important;
  height: 12rem !important;
  border: none !important;
}
.desc .ql-container.ql-snow{
  font-size: 16px !important;
  font-family: 'Public Sans', sans-serif !important;
  border-radius: 0 0 0.375rem 0.375rem !important;
}
.desc .ql-toolbar.ql-snow {
  border-radius: 0.375rem 0.375rem 0 0 !important;
}