/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f5f5f9;
}

/* ne diraj ove 2 klase!!! */
.toast-bottom-right {
  font-family: 'Public Sans', sans-serif !important;
}
.toast-error {
  background-color: #696cff;
  border-radius: 0.375rem;
}
.toast-success {
  background-color: #696cff;
  border-radius: 0.375rem;
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* modal na kanbanu ; jedino ovde hoce da ga overwrite */
.modal-content {
  border: 0px !important;
}
.modal-body {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.modal-header {
  padding-top: 5px;
  padding-bottom: 1px;
}
.MemberManagmentModel{
  height: auto;
}
.projectInfoModal{
  height: auto;
}
.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border: 1px solid #ccc !important;
  box-shadow: none !important;
}
.ng-input > input {color: #697a8d !important;}

/* Rich text editor */
.hide-toolbar .ql-toolbar  {
  display: none;
}
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-fill
{
  fill: #696cff !important;
}
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke
{
  stroke: #696cff !important;
}
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-item:hover{
  color: #696cff !important;
}
.area-desc .ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid #dcdbdb !important;
}
.area-desc .ql-container.ql-snow {
  font-size: 16px !important;
  font-family: 'Public Sans', sans-serif !important;
  height: 12rem !important;
  border: none !important;
}
.desc .ql-container.ql-snow{
  font-size: 16px !important;
  font-family: 'Public Sans', sans-serif !important;
  border-radius: 0 0 0.375rem 0.375rem !important;
}
.desc .ql-toolbar.ql-snow {
  border-radius: 0.375rem 0.375rem 0 0 !important;
}
.is-invalid .ng-select .ng-select-container{
  border: none !important;
}
.ng-invalid .p-inputtext{
  border: 1px solid red !important;
}