/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f5f5f9;
}

/* ne diraj ove 2 klase!!! */
.toast-bottom-right {
  font-family: 'Public Sans', sans-serif !important;
}
.toast-error {
  background-color: #696cff;
}
.toast-success {
  background-color: #696cff;
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* modal na kanbanu ; jedino ovde hoce da ga overwrite */
.modal-content {
  border: 0px !important;
}
.modal-body {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.modal-header {
  padding-top: 5px;
  padding-bottom: 1px;
}
.projectInfoModal{
  height: 25rem;
}
.MemberManagmentModel{
  height: auto;
}